[2017-08-16 15:09] bpostlethwaite opened #2 "log output"
Expanding on https://github.com/plotly/image-exporter/pull/1#issuecomment-322774622

For logging to STDERR printing single lines is easier to integrate into tools like Stackdriver which is already integrated into GKE. Printing single line JSON blobs with error information and consistent keys is even better and seems like the approach taken by newer tools. It is also much more easily digestible by

[2017-08-22 19:16] etpinard opened #7 "Is the `encoded` option still a thing?"
The old image server parses an [`encoded`](https://github.com/plotly/streambed/blob/ce6ba23487e6f618eb94fd371857a163535d6634/image_server/server_app/middleware/get-plot-information.js#L15) option which is `true` by default. When set to `false`, it make the image server return an image data [string](https://github.com/plotly/streambed/blob/ce6ba23487e6f618eb94fd371857a163535d6634/image_server/serve

[2017-08-22 19:24] etpinard opened #8 "Should thumbnail be its own component?"
... or an option in the `plotly-graph` component (like the old image server).

So far, I like `plotly-thumbnail` as it own component where it can easily reuse the `plotly-graph` methods without polluting them.

The problem is, `plotly-thumbnail` needs a separate route. So to generate a thumbnail one will now have to make a request to `${IMAGE_SEVER_PORT}/thumbnail`. Is that too much of a hassle?

[2017-08-23 20:45] etpinard opened #9 "Alternatives to Batik for scaling images"
https://github.com/plotly/image-exporter/pull/6 tries to replace the `batik` svg to pdf converter with electron's `printToPDF`. At first glance, things are looking good on that front (ref https://github.com/plotly/image-exporter/pull/6#issuecomment-324350532),

But, the old image server also uses `batik` to [scale](https://github.com/plotly/streambed/blob/48de225cafc00a18272502ae0053f9017a1fe4ab/i

[2017-08-30 15:33] etpinard opened #11 "Fonts"
Unfortunately, we'll have to install them on the system, like we currently do [here](https://github.com/plotly/streambed/blob/7311d4386d80d45999797e87992f43fb6ecf48a1/image_server/bin/copy_fonts_to_system.sh).

I thought that adding something like:

[code]
in the SVG's `<defs>` would work, but no. `<img>` with SVG `src` values don't import fonts, so `Plotly.toImage` fails to render the fonts corre

[2017-09-01 22:10] etpinard opened #12 "Stay aware of electron `printToPDF` improvements, to get rid of print background hack"
See https://github.com/plotly/image-exporter/pull/6#pullrequestreview-57866565 and https://github.com/plotly/image-exporter/pull/6#discussion_r136360471 for more details.

[2017-09-01 22:12] etpinard opened #13 "Should we start diff testing PDF exports?"
It might worth spending some time adding pdf diff test to our suite (e.g. using [`diffpdf`](http://manpages.ubuntu.com/manpages/trusty/man1/diffpdf.1.html)). I suspect once `plotly-image-exporter` is out, pdf exports will be pretty popular.

[2017-09-01 22:13] etpinard opened #14 "Investigate ways to do text shadowing"
... that gets along with `printToPDF`

From @alexcjohnson  in #6 :

[2017-09-01 22:15] etpinard opened #15 "Look for ways to improve PDF output of 'crispEdges' SVG shape rendering"
From @alexcjohnson in #6:

[2017-09-01 22:16] etpinard opened #16 "Make sure our SVG exports work in Illustrator"
That has bitten us in the past.

[2017-09-01 22:17] #9 closed, assigned to nobody

[2017-10-03 16:43] scjody opened #20 "Thumbnails are different vs. the old image server"
Old:

![screen shot 2017-10-03 at 12 42 52](https://user-images.githubusercontent.com/1136329/31137163-65f55508-a838-11e7-84f4-0ef11f023dcc.png)

New:

![screen shot 2017-10-03 at 12 42 56](https://user-images.githubusercontent.com/1136329/31137176-6ee05ee2-a838-11e7-9a69-340edd484541.png)

@etpinard FYI

[2017-10-05 17:53] #7 closed, assigned to nobody

[2017-10-06 16:17] etpinard opened #21 "Distributing this thing"
On top of the `@plotly/image-exporter` npm package , we'll add standalone Mac, Linux and Window binaries to the release [section](https://github.com/plotly/image-exporter/releases) after every release similar to what's done currently in [plotly-database-connector](https://github.com/plotly/plotly-database-connector/releases).

Standalone binaries ship with node.js and electron bundled up, but with

[2017-10-10 17:08] #8 closed, assigned to scjody

[2017-10-11 16:08] etpinard opened #22 "Stay aware of electron chromium update to offer --headless w/o xvfb"
Chromium ships with a [`--headless`](https://developers.google.com/web/updates/2017/04/headless-chrome) starting in version 59. Electron [`1.8.1`](https://github.com/electron/electron/releases/tag/v1.8.1) (in pre-release as of 2017/10/11) ships with [Chromium 59](https://github.com/electron/electron/pull/9946). So our days of having to use `xvfb` might be numbered :tada:

But, this won't happen no

[2017-10-12 13:39] #20 closed, assigned to etpinard

[2017-10-12 14:35] etpinard opened #25 "Japanese characters don't render in docker container"
This [mock](https://github.com/plotly/plotly.js/blob/master/test/image/mocks/japanese.json) is supposed to look like:

![image](https://user-images.githubusercontent.com/6675409/31501650-d3117994-af38-11e7-98e1-bf946fd53846.png)

but currently renders as:

![image](https://user-images.githubusercontent.com/6675409/31501673-e352978e-af38-11e7-8f36-1bdf87412c8a.png)

inside our docker [image](https:

[2017-10-17 22:05] #25 closed, assigned to scjody

[2017-11-21 20:35] #2 closed, assigned to nobody

[2017-12-04 21:08] monfera opened #34 "Design what's rendered for `text` components in `dashboard-thumbnail`"
A thumbnail is a typically small representation of a bag of visual components.

For plot component, the current design involves the elimination of various annotations and padding, to maximize panel space for data ink.
Dashboards have less graphical components eg. `text`. Theyr'e currently bypassed by https://github.com/plotly/image-exporter/pull/33 but future options include:

1. Leave it as with

[2017-12-05 18:05] scjody opened #36 "CI build failing at docke-build step"
Example failure: https://circleci.com/gh/plotly/image-exporter/416

[2017-12-05 19:16] #36 closed, assigned to nobody

[2017-12-06 16:27] scjody opened #38 "Poor thumbnails for pie charts"
The thumbnails for pie charts could be improved:
* An axis is shown, even though pie charts normally don't have axes.
* Background colours are ignored. (This might be the case for all plots, which is unfortunate because background colours are useful to differentiate between plots.)

Example:

![screen shot 2017-12-06 at 11 25 35](https://user-images.githubusercontent.com/1136329/33672436-33a3a5a6-

[2017-12-08 19:48] scjody opened #39 "Hang after too many gl requests in Docker"
From the tests documented starting at https://github.com/plotly/streambed/issues/9865#issuecomment-349995119:

When image-exporter is run as an imageserver in Docker, after a small number of gl requests (30-40), the image-exporter hangs completely. The request in progress times out, and the server won't accept any more connections and must be restarted.

Two examples:
* If `test/image-make_baselin

[2017-12-08 19:59] scjody opened #40 "Mapbox doesn't work in Docker (and possibly elsewhere)"
If `test/image-make_baseline.js` is used to run `mapbox*` against image-exporter running as an imageserver in Docker, all mapbox tests fail and this message is printed by image-exporter:

`{"severity":"ERROR","textPayload":"525 - plotly.js error","labels":{"fid":null}}`

I've verified that the `PLOTLY_MAPBOX_DEFAULT_ACCESS_TOKEN` environment variable is set to the same token used on Plotly Cloud p

[2017-12-08 20:02] scjody opened #41 "Steadily increasing memory usage"
After a 2 hour run of all our mocks except `gl*` and `mapbox*` using `test/image-make_baseline.js` (351 mocks, taking about 55 seconds per run), against image-exporter running as an imageserver in a Docker container, memory usage grew steadily:

https://plot.ly/%7EJodyMcintyre/2209/
![new imageserver memory usage](https://user-images.githubusercontent.com/1136329/33743253-0c5987b0-db7a-11e7-841d-e

[2017-12-08 20:12] scjody opened #42 "Autoscaling for imageservers"
When image-exporter is run via Kubernetes as an imageserver, we attempted to perform autoscaling using the CPU usage metric set to 80%. This didn't work; CPU usage seems too bursty for this to be a useful metric. (Sometimes an image-exporter pod is using very little CPU even though it's busy processing a request.)

As an example, here's the CPU usage of one pod over 24h. The pod was in service on

[2017-12-11 22:57] #40 closed, assigned to scjody

[2017-12-12 22:20] scjody opened #45 "imageserver monitoring & restarts for On-Prem"
Another issue coming out of https://github.com/plotly/streambed/issues/9865#issuecomment-349995119 is that (like the old imageservers) the new ones aren't 100% reliable. For Plotly Cloud, this is OK because Kubernetes performs health checks and will restart any hung pods, but for On-Prem we need a solution.

Existing imageservers are monitored by monit. We can probably use this in the new imageser

[2017-12-15 19:31] JamesCropcho opened #48 "Test failure: `pdftops.pdf2eps > should convert pdf to eps`"
Greetings, all.

Locally I get this test failure:

[code]

On my machine, `size` is 93,248, just shy of `1e5`.

I am happy to fix this (by changing `1e5` to `1e4`), and just as happy to ignore it. Direct me as you see fit.

I raise this issue on the chance that my local machine is behaving badly in some subtle way. If this looks worrisome for some reason, let me know.

James

[2017-12-15 19:31] JamesCropcho opened #49 "Test failure: `getBody: > should pass request error for bar url`"
Greetings, all.

Locally I get this test failure:

[code]

And while `code` is indeed null, `body` is

The ISP I'm using responds with this page when the URI has a nonexistent domain. However, `body` is only a string literal and so I see no quick fix.

I am happy to fix this (probably by modifying `getBody()`), and just as happy to ignore it. Direct me as you see fit.

I believe you would at least

[2018-02-07 15:55] #39 closed, assigned to nobody

[2018-02-16 21:23] JamesCropcho opened #58 "How to build on Linux?"
@etpinard:

@JamesCropcho:

@etpinard:

I am opening that issue as requested, here.

So as I had stated, we are already building for Linux via the AppImage target. (In fact, I am developing for Plotly on Ubuntu.)

So now, Étienne, to confirm, the AppImage not exactly what you're seeking, and instead the Linux build target should be replaced by `deb` (a Debian package), is that correct? If so, shou

[2018-02-19 19:15] #48 closed, assigned to nobody

[2018-03-03 12:03] probonopd commented on #58
Could you please add the AppImage download to https://github.com/plotly/image-exporter/releases?

[2018-03-05 18:18] lastmjs commented on #22
Seems like a duplicate of https://github.com/electron/electron/issues/228

[2018-03-29 15:02] tarzzz opened #61 "Intermittent errors in circle CI while running integration tests"
The integration tests seem to pass on local, but are very volatile on circle CI and fail often.
The situation has deteriorated with adding a new component (hence a new electron window) in: https://github.com/plotly/image-exporter/pull/60

cc: @etpinard ..

[2018-03-29 15:06] etpinard commented on #61
thanks for writing this down :writing_hand:

[2018-03-29 15:24] tarzzz commented on #61
The integration tests have been disabled in #60 for now.. !!

[2018-04-07 00:19] jmmease opened #65 "Headless?"
I built the project on OS X and ran the following png export command
[code]
The `out.png` image is generated successfully, but I noticed that the electron window pops up in front of my other windows.

Is there any way to prevent the popup? I'm concerned this would be a bit disruptive for eventual python/R users.

cross reference: #21, plotly/plotly.py#880
cc: @cpsievert @etpinard @jackparmer

[2018-04-08 01:28] jackparmer commented on #65
@n-riesco @JamesCropcho @etpinard  Any thoughts here? Do we need https://github.com/plotly/image-exporter/pull/63 to prevent the popup?

[2018-04-08 11:28] n-riesco commented on #65
I guess that adding `show: false` [here](https://github.com/plotly/image-exporter/blob/a7e67453807aa08c3b27dbdfb0e81934eab5c134/src/app/runner/coerce-opts.js#L18) and [here](https://github.com/plotly/image-exporter/blob/a7e67453807aa08c3b27dbdfb0e81934eab5c134/src/app/server/coerce-opts.js#L26) could do the trick, but I haven't tested it.

[2018-04-08 15:25] JamesCropcho commented on #65
@jackparmer I don't believe I'll win any popularity contests with my thoughts here, but I'll share them as you have requested.

I do not believe that a window popping up for half a second (or even many such windows) in an application targeting computer-savvy types (e.g. Plotly users) is substantially "disruptive" to warrant significant effort from Plotly to remedy it.

[2018-04-08 15:52] jackparmer commented on #65
We've heard that pop-ups with [current offline PNG generation](
https://plot.ly/python/static-image-export/#export-static-image-offline)
cause issues when generating many images in series on a server without a
display. For example, we have customers who would like to generate
thousands of plot images as part of a nightly batch process.  So, yep, this
should be resolved.

On Sun, Apr 8, 2018 at 11:

[2018-04-08 16:58] JamesCropcho commented on #65
@jackparmer Ah, okay. That is a different use-case than @jmmease described.

I don't have any experience with this particular issue.

@n-riesco's suggestion above sounds like as a good an initial experiment/step, as any. More broadly, an experimental approach is probably needed, i.e. trying various ideas which seem promising and seeing what works.

[2018-04-08 16:59] JamesCropcho commented on #65
@jackparmer As the author of #63, I am pretty sure that #63 would neither fix this, nor exacerbate it.

[2018-04-09 13:18] etpinard commented on #65
This issue is essentially a duplicate of https://github.com/plotly/image-exporter/issues/22

This repo won't attempt to do anything fancy (e.g. `xvfb`) to wrap electron in a headless executable. We'll just wait until electron supports chromium's `--headless` flag natively.

[2018-04-09 15:45] etpinard commented on #65
What does `show: false` do exactly? Does it still create a window and simply doesn't focus on it on creation?

[2018-04-09 15:55] jackparmer commented on #65
Definitely. The longterm vision was to to package this with plotly.py so we stop getting complaints like this: https://github.com/plotly/plotly.py/issues/880#issuecomment-377812417

[2018-04-09 16:05] jmmease commented on #65
Interesting, it seems that the `show: false` option suppresses the window for a png export
[code]
But when I do pdf export
[code]
There are actually two popup windows, and only the first one is hidden by the `show` option

[2018-04-09 16:15] etpinard commented on #65
what if you add `show: false` to this block:

https://github.com/plotly/image-exporter/blob/1c164bb2a4cb69f67a0f842aaf371bcb7721ca55/src/component/plotly-graph/render.js#L155-L158

[2018-04-09 16:17] n-riesco commented on #65
@etpinard The options are documented [here](https://electronjs.org/docs/api/browser-window#new-browserwindowoptions)

[2018-04-09 16:24] jmmease commented on #65
@etpinard Awesome, adding `show: false` to image-exporter/src/component/plotly-graph/render.js took care of the second window too.

[2018-04-09 17:04] jmmease commented on #21
Quick thought regarding packing this for python users.

`poppler` and `nodejs` are both available in the [main](https://repo.continuum.io/pkgs/main/linux-64/) conda repository (at least for linux and os x, poppler actually isn't available in the window repo).  I wonder if it would be feasible (sensible?) to create a conda package that has dependecies on `nodejs` and `poppler` and basically just co

[2018-04-09 17:13] jackparmer commented on #21
I'm all for this as long as we can get to a point where we feel it works in a bulletproof way. Otherwise be prepared for hundreds of plotly.py user complaints/issues on GitHub and the forum 😬

[2018-04-09 17:14] etpinard commented on #21
To note, we only need `poppler` for eps exports. Not sure what percentage of python users export in eps, but I suspect it is small.

[2018-04-10 22:34] jmmease commented on #21
@JamesCropcho That's certainly reasonable :-) What would be your preferred approach for local installation?  Is it currently possible to create standalone binaries?  I don't see anything in https://github.com/plotly/image-exporter/releases and I don't know enough about electron to build them myself from the repo.

[2018-04-11 16:31] JamesCropcho commented on #21
@jmmease Local installation is actually being figured out and implemented by Plotly and me very actively right now. Hopefully this will be soon possible for Plotly users.

[2018-04-11 17:29] jackparmer commented on #65
@JamesCropcho - Please go ahead and make a PR for this. Afterwards we can merge https://github.com/plotly/image-exporter/pull/63 and put out the first release! 🍾

[2018-04-11 17:50] JamesCropcho commented on #65
@jmmease Are you able to see https://github.com/plotly/image-exporter/pull/66? If so, is it identical to the changes you made, which worked as desired?

[2018-04-13 20:39] etpinard opened #68 "Unmerge docker-build and docker-push jobs"
Commit https://github.com/plotly/image-exporter/pull/63/commits/1b78585039f3f0ddbfb1ce941ef11d7bfb940abb merged the `docker-build` and `docker-push` CircleCI jobs into a single `docker-build-and-push` as a workaround for intermittent CI failures involving _ "missing image"_ error duiring the `docker-push` step. See https://github.com/plotly/image-exporter/pull/63#issuecomment-380603152

At present

[2018-04-13 20:55] etpinard commented on #58
@JamesCropcho was this issue resolved in https://github.com/plotly/image-exporter/pull/63?

[2018-04-13 21:02] JamesCropcho commented on #58
No. However #63 was a dependency to this. Our most likely path to resolving
this is manual Github Release creation.

On Fri, Apr 13, 2018, 4:55 PM Étienne Tétreault-Pinard <
notifications@github.com> wrote:

[2018-04-13 21:10] etpinard opened #70 "Test AppVeyor Windows executable on a Windows machine"
PR https://github.com/plotly/image-exporter/pull/63 added a build step for Windows on AppVeyor.

Unfortunately, no one has had the time to test it out yet.

[2018-04-14 12:27] n-riesco commented on #70
For the record (it may be a red herring though): when I ran the windows executable with `--verbose`, the dev console had an error message `Uncaught SyntaxError: invalid unicode escape sequence`.

[2018-04-14 15:37] JamesCropcho commented on #70
@n-riesco If you ran it on Windows: I wager it's important and useful. If you ran it not on Windows, I'd wager it's a red herring.

[2018-04-14 16:53] n-riesco commented on #70
@JamesCropcho To be clear: I run the windows executable on a windows machine. :smiley_cat:

[2018-04-14 19:51] JamesCropcho commented on #70
@n-riesco Yeah, I was pretty sure you were running it in a Windows environment, but I wanted to one hundred percent sure. Also, the specific error message you described sounds like the flavor associated with executable-environment mismatch.

Interesting, I do not get output matching yours:

[code]

(The `UnhandledPromiseRejectionWarning` was showing up previously, too, when zero arguments were att

[2018-04-16 21:30] etpinard commented on #65
Closed via https://github.com/plotly/image-exporter/pull/72

[2018-04-16 21:30] #65 closed

[2018-04-17 21:43] etpinard opened #75 "Setup test coverage report"
Probably using https://coveralls.io/

[2018-04-17 21:54] etpinard commented on #49
I haven't seen this thing fail in a long time.

@JamesCropcho ok to close this?

[2018-04-17 21:59] JamesCropcho commented on #49
@etpinard I don't believe (?) I see this particular failure anymore, although I do encounter another(s) nondeterministic failure with some regularity.

[2018-04-17 22:00] etpinard commented on #49
Ok. Closing and merging with https://github.com/plotly/image-exporter/issues/61

[2018-04-17 22:00] #49 closed

[2018-04-17 22:01] etpinard commented on #61
Followup on https://github.com/plotly/image-exporter/issues/61#issuecomment-377271980

Integration tests have been brought back in https://github.com/plotly/image-exporter/commit/433d619414c92f0c612d399cb72ca9a7b22bc5a0

[2018-04-18 13:37] etpinard commented on #61
PR https://github.com/plotly/image-exporter/pull/76 put `npm run test:integration` is 5x retry loop which should help make out CI runs be less intermittent.

Keeping this issue open, as #76 is far from an ideal fix to this issue.

[2018-04-18 14:11] etpinard opened #77 "Standalone app logs "Installed ..." on exec"
Making an issue out of @n-riesco's https://github.com/plotly/image-exporter/pull/66#issuecomment-381108301:

I've noticed that running the AppImage version now prints out the message:
[code]
I don't remember this happening before.

[2018-04-18 15:29] cpsievert opened #79 "List supported output formats via help"
Would be nice to be able to quickly see supported output formats, perhaps via `plotly-graph-exporter --help`?

https://github.com/plotly/image-exporter/blob/433d619414c92f0c612d399cb72ca9a7b22bc5a0/bin/args.js#L141-L142

[2018-04-18 15:37] etpinard commented on #79
That's under `--format`:

![image](https://user-images.githubusercontent.com/6675409/38942457-ccc9366e-42fc-11e8-9410-ad524daea8b8.png)

[2018-04-18 15:46] JamesCropcho commented on #77
I would presume it is not bad, that this message is being printed?

Or, is this issue opened with the implied goal to suppress this message?

[2018-04-18 15:47] cpsievert commented on #79
Ahh, sorry! Should all these formats work (in theory) for gl trace types as well?

[2018-04-18 15:47] #79 closed

[2018-04-18 15:47] etpinard commented on #77
I think it's pretty bad. Not critical, but pretty bad. That thing isn't useful for anyone.

[2018-04-18 15:54] etpinard commented on #79
Yes. They work. Not just in _theory_.

[2018-04-19 21:25] JamesCropcho commented on #77
I want to bring https://github.com/electron-userland/electron-builder/issues/2807#event-1583076851 to everyone's attention—a conversation I started with the Electron-Builder community regarding @etpinard's concern.

Given a quick glance at the commit referenced, it appears that if we upgrade to v20.9.2 and do nothing else, the unwanted log message will disappear.

So, dare I say, that the problem

[2018-04-19 21:31] etpinard commented on #77
Awesome! Thanks @JamesCropcho for reaching out to them!

Before calling this fixed, would you mind running `npm update electron-builder --save-dev` and making a PR with package.json and package-lock.json updates?

[2018-04-19 22:01] JamesCropcho commented on #77
Happily, @etpinard. I have done so: https://github.com/plotly/image-exporter/pull/80.

[2018-04-19 22:16] #77 closed

[2018-04-23 13:50] etpinard commented on #21
from @jackparmer

![image](https://user-images.githubusercontent.com/6675409/39130695-bcc0b3ea-46db-11e8-8d3a-ced29cf23952.png)

[2018-04-24 17:08] jackparmer commented on #21
@cpetzold and NPM support very kindly helped us acquire the NPM package name `orca`. 🙇 https://www.npmjs.com/package/orca is owned by NPM user `plotly` now.

![image](https://user-images.githubusercontent.com/1865834/39202678-9e88c99a-47c0-11e8-9db0-ce4d52b19d0c.png)

[2018-04-25 14:03] etpinard commented on #21
... oh and RE https://github.com/plotly/image-exporter/issues/21#issuecomment-384008872, yes we should make our first release `v1.0.0`.

[2018-04-25 14:24] etpinard opened #81 "pdf export paper_bgcolor turns black when using image magick to convert to jpg"
Moved here from https://github.com/plotly/plotly.js/issues/2408 where @cldougl wrote

Now after exporting a pdf image and using image magick to convert to a jpg the paper_bgcolor becomes black:

![image](https://user-images.githubusercontent.com/2789078/36740765-6b0f8cf6-1bb1-11e8-8a19-dc885ec225a5.png)

and @rafael-andrade wrote

I was having the same issue using another library. I was converting

[2018-04-27 17:02] JamesCropcho commented on #21
Okay, I have done so, in #82: https://github.com/plotly/orca/pull/82/files#diff-b9cfc7f2cdf78a7f4b91a753d10865a2

[2018-04-28 20:40] kudhru opened #84 "How to run the standalone app on Mac/Unix?"
Hi

I downloaded the binaries for plotly-graph-exporter from [here](https://github.com/plotly/orca/releases).

What should I do next to run the below command successfully on my machine (mac)?
`plotly-graph-exporter '{ "data": ["y": [1,2,3]] }' -o fig.png`

Sorry if this is a trivial question.

Thanks
Dhruv

[2018-04-28 20:42] kudhru opened #85 "Error: 'plotly-image-exporter' is not in the npm registry."
Hi

I get the below error when I run `npm install -g electron plotly-image-exporter` on my machine(Macbook). Can someone help me in getting rid of this error?

[code]

[2018-04-30 13:03] etpinard commented on #85
Yeah yeah, it's not up on npm up. Sorry.  Will be part of https://github.com/plotly/orca/issues/21

[2018-04-30 13:03] #85 closed

[2018-04-30 13:17] kudhru commented on #85
ok. Can you suggest how to run the standalone app? I raised issue #84 for this.

[2018-05-03 20:21] #34 closed, assigned to monfera

[2018-05-03 20:37] etpinard commented on #70
Fixed by https://github.com/plotly/orca/pull/88/commits/63e54345fe48d9b90572e55655239c1599e5a2a7

(at least, on @dy's Windows 7 laptop)

[2018-05-03 20:37] #70 closed

[2018-05-03 21:51] etpinard commented on #58
The AppImage target on https://github.com/plotly/orca/releases will be fine for the first series of release (to be made as soon as https://github.com/plotly/orca/pull/88 is merged). So, closing this thing.

[2018-05-03 21:51] #58 closed

[2018-05-03 22:37] etpinard opened #89 "Try out Electron 2.0"
I don't see anything breaking changes from the list on https://electronjs.org/releases#2.0.0, so the upgrade should be fairly simple.

We might want to explore new possible solutions for https://github.com/plotly/orca/issues/12 and try out `--headless` as mentioned in https://github.com/plotly/orca/issues/22.

Some thorough testing of our image server will be required though.

[2018-05-03 22:39] etpinard commented on #89
... to do after the v1 release.

[2018-05-04 18:43] n-riesco opened #90 "Mac installer doesn't install a CLI"
I'm opening this issue to discuss solutions to install Orca as a CLI in Mac.

---

At the moment, `electron-builder` creates a DMG installer for Orca in Mac. This DMG installer is actually a [disk image](https://en.wikipedia.org/wiki/Apple_Disk_Image). And, in our case, it contains the app bundle `Plotly Orca.app`.

My understanding is that when a user double-clicks a `.dmg` file, Mac mounts this

[2018-05-04 18:55] etpinard commented on #90
This sounds :ok_hand: to me.

-----

FYI, post https://github.com/plotly/orca/pull/88/commits/a44fc2f8670f17ed31c6e810da624debddf07605, the `.app` file should be named `orca.app` instead of `Plotly Orca.app`.

[2018-05-08 14:39] etpinard commented on #90
any progress on this @n-riesco ?

[2018-05-08 16:04] n-riesco commented on #90
@etpinard No, I'm sorry. I have to for someone with a mac for testing. Iwon't be able to look into it until tomorrow.

[2018-05-09 19:47] n-riesco opened #91 "`npm run pack` fails with node@6 and npm@3"
Today, when I tried to build `orca`, `npm run pack` failed because I was using `node@6` that comes with `npm@3`. This is what happened:

- `npm i` installed `read-config-file@3.0.1` despite `package-lock.json` (`npm@3` doesn't know about `package-lock.json`)

- `read-config-file@3.0.1` uses `async` (which isn't supported by `node@6`)

Next I ran `npm install -g npm@5`, but `npm i` failed with some

[2018-05-09 19:54] etpinard commented on #91
Does `npm run pack` work for you in node8?

[2018-05-14 18:27] etpinard commented on #90
@n-riesco can you try to download https://s3.console.aws.amazon.com/s3/object/image-exporter-travis-artifacts/plotly/orca/394/394.1/mac-release.zip?region=us-east-1&tab=overview ?

[2018-05-14 19:46] n-riesco commented on #90
@etpinard No, I can't, because I don't and AWS account.

[2018-05-14 19:50] etpinard commented on #90
How do you download the falcon builds then?

[2018-05-15 16:55] n-riesco commented on #90
@etpinard I use links like this: https://s3.amazonaws.com/falcon-travis-artifacts/plotly/falcon-sql-client/NNN/NNN.1/mac-release.zip

[2018-05-15 17:03] n-riesco commented on #90
@etpinard Is there any way to tell standard that a `return` in the global scope is perfectly *cromulent* in node? or to skip that line?
[code]

[2018-05-15 17:06] etpinard commented on #90
@n-riesco and https://s3.amazonaws.com/image-exporter-travis-artifacts/plotly/orca/392/392.1/mac-release.zip doesn't work for you?

[2018-05-15 17:10] etpinard commented on #90
you can use `// eslint-disable-next-line`, or replace that `return` with `process.exit(0)`.

[2018-05-15 17:14] n-riesco commented on #90
`process.exit(0)` would kill the app before showing the modal window. I'll try later and see if it's an issue with `eslint`'s parse.

[2018-05-15 17:18] etpinard commented on #90
yeah `// eslint-disable-next-line` doesn't work for me either.

Would putting the rest of `orca_electron.js` in an `else` be equivalent?

[2018-05-17 17:42] #90 closed

[2018-05-17 20:53] etpinard commented on #21
Orca v1.0.0 is out:

- https://github.com/plotly/orca/releases/tag/v1.0.0
- https://www.npmjs.com/package/orca

Please see the installations instructions [here](https://github.com/plotly/orca#installation).

Our release process is far from perfect, but good enough I'd say to close this issue closed.

[2018-05-17 20:53] #21 closed

[2018-05-17 20:54] etpinard opened #92 "Make "easy install" shell scripts for Mac and Windows"
... to hopefully turn [Mac](https://github.com/plotly/orca#mac-os) and [Windows](https://github.com/plotly/orca#windows) checklist into a single command.

cc @n-riesco

[2018-05-17 21:31] n-riesco commented on #92
It'd be good to have a permanent link to the latest installer for each platform. Something like [Falcon's](https://plot.ly/free-sql-client-download/). It'd make the install scripts easier to write.

[2018-05-17 21:36] etpinard commented on #92
good call!

[2018-05-23 20:41] etpinard opened #93 "Move to "two package.json" structure"
Where the root package.json would list the `orca` npm package deps and the project dev-deps. A new package.json file placed in `app/package.json` would list the bare minimum standalone app deps as discussed in the electron-builder [docs](https://www.electron.build/tutorials/two-package-structure).

This would allow us to list `electron` as part of the npm package deps which would make:

[code]

ju

[2018-06-03 09:46] PlotlyUser2 opened #95 "Orca Python API doesn't produce any image"
Well, I've just tried to create an image by using orca within the python api. However this code doesn't produce any image:

[code]

It returns: done with code 1 in 2.59 ms - failed or incomplete task(s)

What am I doing wrong here?

[2018-06-04 13:56] etpinard commented on #95
Thanks for the report. Nothing appears suspicious.

I ran

[code]

as in the README instructions again in Python3.5 and things work fine.

Maybe someone more familiar with python's subprocesses could help us out?

[2018-06-04 18:45] PlotlyUser2 commented on #95
@etpinard When I try to run your code piece, I get the `FileNotFoundError: [WinError 2]` error. But when I run this:

[code]

Well, then I get 0.

[2018-06-04 18:49] etpinard commented on #95
If that `0` means exit code 0, then the export should have succeeded.

[2018-06-04 18:49] PlotlyUser2 commented on #95
Where does the image file should be created?

[2018-06-04 18:53] etpinard commented on #95
in the same directory as where you're running your script.

[2018-06-04 18:54] PlotlyUser2 commented on #95
Yup, your code works. Thanks!

[2018-06-16 19:31] kengz commented on #95
I can confirm the above too. Not using the shell argument works, and file will save to the expected output.

[2018-06-24 04:41] kengz opened #96 "PyGIWarning on headless Ubuntu"
I installed using the README instruction (download the AppImage, do chmod, add to path), and ran it on Ubuntu, go the error message below. Did the same thing on my mac it worked.

OS: Ubuntu 16.04, it is a headless server (no monitor)
orca release used: https://github.com/plotly/orca/releases/tag/v1.0.0

[code]

[2018-06-25 15:24] malmaud opened #97 "GL_INVALID_OPERATION errors"
Hi,
Thanks for this great tool!

I'm seeing the following:

[code]

The errors appear harmless, though, as `myfig.pdf` is still successfully generated. As far as I can tell, the pdf is valid and looks fine.

Environment:

Python 3.6.5
OS X 10.13.5

Orca was installed  with `~ $ npm install -g electron@1.8.4 orca` just now.

[2018-06-27 07:44] kengz commented on #96
Thanks for the reply. I did a minimal test-run and it gave a new error:

[code]

[2018-06-27 14:08] etpinard commented on #96
Ok. Are you running this from the command line or from a python script or somewhere else?

[2018-06-27 15:18] kengz commented on #96
yes indeed. I am running the example command from README on the bash terminal. not via python runtime, so that warning was weird. Found something online but not sure if it's related: http://gnome-orca.1098411.n5.nabble.com/orca-list-a-strange-message-when-starting-orca-td37954.html

[2018-06-27 15:31] etpinard commented on #96
Ha. Well, our `orca` command must be conflicting with Gnome's orca.

What does

[code]

return for you?

[2018-06-27 16:24] kengz commented on #96
it would seem so. ran any orca command and the same thing pops up, see below:

[code]

[2018-06-27 16:30] etpinard commented on #96
Ok, so then how did add plotly's orca to your path?

[2018-06-27 16:39] kengz commented on #96
[code]

[2018-06-27 17:15] etpinard commented on #96
I think a path has to be a directory, not an executable

So,

[code]

should work.

But I'd recommend,

[code]

and have

[code]

somewhere in your shell rc file. Or similarly with `~/.local/bin` instead `~/bin`

[2018-06-28 03:11] kengz commented on #96
hi, did that. in fact also tried putting it into /usr/bin which is in the PATH, and it is giving the exact same issue.

[2018-06-28 07:20] kengz commented on #96
oh actually did a clean wipe and reinstalled using npm global. that works on terminal. thank you, you may close this issue.

[2018-06-28 12:56] #96 closed

[2018-07-23 13:04] GegznaV opened #100 "`Orca` does not work on Windows"
I want to use `orca()` through package **plotly** in **R**. I installed `orca` on Windows 10 following the instructions:

* https://github.com/plotly/orca#installation

All the commands I describe next were called from Command Prompt, not from R.
Command `orca` did not work. Thus I added `C:\Users\my_pc\AppData\Local\Programs\orca\orca.exe` to the path manually. Now if I write `C:\Users\my_pc\AppD

[2018-07-23 14:49] GegznaV commented on #100
I renamed from `C:\Users\my_pc\AppData\Local\Programs\orca\orca.exe` to `C:\Users\my_pc\AppData\Local\Programs\orca` in PATH variable and it works. Most probably I copied "Target" field instead of "Start in" in point 4 of instructions for Windows (https://github.com/plotly/orca#installation).

[2018-07-23 14:49] #100 closed

[2018-07-25 13:43] emallickhossain opened #101 "orca() does not support file paths"
I'm trying to export a static image in R using orca(), but it ignores the file path and just exports it to the current location of the script that I'm running.

For example, if I run `orca(image, "/images/plot1.png")` from a script located in  `/code/script.R`, it saves it to `/code/plot1.png` instead of where I specified.

[2018-07-25 13:44] etpinard commented on #101
I think this has to do with the R wrapper.

Probably best to post on https://github.com/ropensci/plotly/issues/new

[2018-07-30 15:08] jonmmease opened #102 "Dock icon not hidden on OS X"
As discussed in https://github.com/plotly/orca/pull/66#issuecomment-380849582, in order to hide the electron icon from popping up in the dock on OS X the `"extendInfo": {"LSUIElement": 1}` attribute should be added to the project's package.json.

I thought this had been done, and I remember testing that it worked (successfully hid the icon), but I don't see this option present on master, and the i

[2018-07-30 18:23] jonmmease opened #104 "Pipe example hanging on OS X"
The help info for `orca graph --help` displays this usage example:

[code]

However, when I try to use this (on OS X) the command just hangs

[code]

For background, I was considering using a STDIN approach for the plotly.py integration because there's a limit to how large command-line arguments can be.  For example, the Python approach in the README, of passing the JSON definition of the graph as

[2018-07-30 18:28] etpinard commented on #104
Strange. This works just fine on my Ubuntu laptop.

[2018-07-30 18:36] etpinard commented on #104
I think the best workaround would be to save the JSON to a temporary file, call orca and then remove the temporary file.

I suspect piping a JSON of 100,000+ pts to orca might be very slow as we have to wait until the entire JSON is in memory before booting orca.

[2018-07-30 18:39] jonmmease commented on #104
Just to remove one layer of indirection, I get the same behavior if I call the orca executable directly (rather than the wrapper in /usr/local/bin):

[code]

I wonder if there's something going on here with the application bundle. I'll try it from development environment.

[2018-07-30 18:55] jonmmease commented on #104
Yeah, it also hangs if I use the bin/orca.js entry point from the development environment.

Converting the large scatter plots to images is actually pretty fast when I save the json to a file first, and pass the file path to orca (The save time is still dominated by orca's startup time).

I was hoping to find a way to handle large plots, and avoid writing out temp files.  But the temp file approac

[2018-07-30 20:16] debarundhar commented on #101
I'm having the same issue on Python 2.7. The filename is correct, but the figure is saved to the current directory instead of in the specified directory.

[2018-07-30 20:27] etpinard commented on #101
Can you share a code snippet of your attempt?

[2018-07-30 20:54] debarundhar commented on #101
Here it is: I am saving two figures to disk, a 2D figure from matplotlib and a 3D figure from Plotly (using Orca). The 2D figure gets successfully saved to `./results/2d/test.png`, while my Plotly figure gets saved to `./test.png` instead of `./results/3d/test.png`
[code]

[2018-07-30 21:02] etpinard commented on #101
what about:

[code]

?

[2018-07-30 21:54] etpinard opened #106 "Use special docker tag on `git push --tags`"
See https://circleci.com/docs/2.0/workflows/#git-tag-job-execution

This should make our https://quay.io/repository/plotly/image-exporter?tab=tags a little cleaner.

[2018-07-31 14:56] debarundhar commented on #101
@etpinard Yup, that works. Thanks!

[2018-07-31 20:33] etpinard commented on #101
Ok great. But yeah

[code]

should work too.

Bug confirmed. Thanks for reporting.

The logic here

https://github.com/plotly/orca/blob/be699d60fd4177a113f2c8c84fe1009c9df9e179/bin/graph.js#L116-L117

doesn't seem quite right.

[2018-08-01 12:12] jonmmease commented on #104
Ahh, this is probably what's going on: https://github.com/electron/electron/issues/4218

That issue was for a windows application build, but maybe there's something similar going on for OS X applications as well.

[2018-08-01 17:16] jonmmease opened #107 "[WIP] orca as a conda package"
#### TLDR
I made a WIP conda package for orca:
 - conda recipe: https://github.com/jonmmease/orca-feedstock
 - published packages: https://anaconda.org/jonmmease/plotly-orca

try out the package with:
[code]
OS X 64, Linux 64, and Windows 64 are all available

#### Background

In preparation for adding orca image export support to plotly.py, I spent some time today working on a conda package recip

[2018-08-01 21:31] etpinard commented on #107
Brilliant @jonmmease Thanks very much for tackling this. :tada:

`conda install -c jonmmease plotly plotly-orca` sounds a whole lot easier than the [current standalone installation instructions](https://github.com/plotly/orca#installation).

I was waiting to see if you noticed any other bugs before releasing 1.0.1. I can release orca 1.0.1 that includes https://github.com/plotly/orca/pull/103 tomo

[2018-08-01 22:46] jonmmease commented on #107
Yeah, putting this on the plotly channel would make sense.

I'll take a look at the CircleCI, Travis, and AppVeyor configs to see if I can make sense of how they might be used to run the conda build.  Now that the recipes are worked out, there are basically three steps.
 1. Install miniconda and conda-build
 2. Run `conda build recipe/`
 3. Log in to anaconda channel account and run `anaconda uplo

[2018-08-02 13:28] etpinard commented on #107
Good call. Let me know how that goes!

[2018-08-02 13:44] #102 closed

[2018-08-03 03:03] chazdm opened #109 "errors when using conda to install r"
Hello,

I've been trying to install r and keep getting the following error message. Not sure how to proceed. Appreciate any assistance. Thank you!

Include the output of the command 'conda info' in your report.

Traceback (most recent call last):
  File "/home/cdmelloc/anaconda/bin/conda", line 5, in <module>
    sys.exit(main())
  File "/export/home/cdmelloc/anaconda/lib/python2.7/site-packages/c

[2018-08-06 21:26] sdrap opened #110 "Orca hanging on large json files"
I have a dataframe with 20 years of daily data. iplot can process any plots.

However, I can only use orca when I slice the dataframe for less than 4 years of data.
It fails in the notebook as well as in command line from a json dumped file with the following text.

[code]
The JSON files are 250Kb large for the 20 years of data.
[data.zip](https://github.com/plotly/orca/files/2264157/data.zip)

[2018-08-06 21:33] etpinard commented on #110
I suspect you're calling orca as:

[code]

which won't work, as we currently only accept path/to/json/files, url/to/json/files or json strings.

Is this indeed the case?

[2018-08-06 21:39] sdrap commented on #110
No I uploaded as a zip because github doesn't accept plain json. I run it as follows

[code]

or alternatively

[code]
which just hang.

I don't know exactly what is the problem.

[2018-08-06 21:58] etpinard commented on #110
I think something is up with your data encoding:

[code]

Orca expect the result of `JSON.parse` to an object.

[2018-08-06 23:31] sdrap commented on #110
I am puzzled a bit with JSON. I dumped in the file using

[code]

Strangely enough it starts with `"{` and put a backslash in front of every double quote.
I edited the file removing these characters in a working json that I can process through cat.

I have here the two json (the one year and 20 years) and process them by

[code]

the small one get through the large one not.

I also made a copy pas

[2018-08-07 13:35] etpinard commented on #110
No worries at all. The orca CLI is bound to have a few rough edges at the moment. Thanks very much for writing in.

As mentioned in https://github.com/plotly/orca/issues/104#issuecomment-408966452, I'd recommend first saving large JSON to a temporary file.

Now, your snippet

[code]

seems odd. Wouldn't

[code]

suffice?

[2018-08-07 14:58] sdrap commented on #110
Many thanks, my dump dumps was totally dumb. Your solution provide the right data format to cat in the pipeline.

However the problem remain the same. The 1 year dataset can be processed, the 20 years can not.

I really don't know where the problem comes from and I don't know how to run the debug command in the pipe

[code]
If I can be of any help to run some commands or some tests, do not hesitat

[2018-08-07 15:24] etpinard commented on #110
I got it to work using:

[code]

![image](https://user-images.githubusercontent.com/6675409/43785482-62bb264e-9a34-11e8-875d-ee7ce09f6875.png)

Unfortunately, from python this means dumping your figure object into a temporary file, but as discussed in https://github.com/plotly/orca/issues/104, piping very large JSONs into orca does not scale well. This will always be slow as we have to wait for th

[2018-08-07 15:37] sdrap commented on #110
Oh yes! that's great I could get it the way you did. I will use this solution with temporary files, since in the notebook it doesn't work. Just a matter of writing a small script to handle all the temp files.

Many thanks, I had been waiting for a long time for this export solution and it is really nice :).

[2018-08-07 19:37] jonmmease commented on #110
@etpinard, a thought just occurred to me. Do you have a sense of what would it take to launch orca in server mode (as a Python subprocess) and then send requests to it from Python?  This would save the orca startup time (once the server process is launched the first time) and avoid the temporary file business.

[2018-08-08 13:35] jonmmease commented on #110
Thanks @etpinard , I'll take a look.

Yeah, if we go the temp file approach I was planning to work out an API to allow users to batch convert collections of figures in one go.  The parallelization option applies to batch conversion case right?

[2018-08-08 13:44] etpinard commented on #110
Yep, the `--parallel-limit [or --parallelLimit]` CLI options set the limit of parallel tasks run. Its [default value is 1](https://github.com/plotly/orca/blob/647239b5d90d9abf8724535c798de54d8b33e97c/src/app/runner/constants.js#L9).

One note on parallelization, no matter the `--parallel-limit` value set orca only creates one Electron instance. Parallelization is especially productive for exportin

[2018-08-08 14:41] jonmmease commented on #110
Image conversion with orca server from Python!

![screen shot 2018-08-08 at 10 26 54 am](https://user-images.githubusercontent.com/15064365/43843523-c5b46e92-9af5-11e8-9662-446255226b77.png)

I haven't tried any large graphs yet, but for small stuff it's impressively responsive!

Here are the only two issues I see at the moment:

 1. Launching the server on on my macbook pro starts up an "orca" pr

[2018-08-08 14:56] jonmmease commented on #110
Some rough timing numbers for single trace (After server is running, from execution to display in the notebook)
 - Small scatter (non-GL) trace: ~50ms
 - Small scattergl: ~150ms
 - scattergl 10,000: ~200ms
 - scattergl 100,000: ~500ms
 - scattergl 1,000,000: ~ 3.5s

I think these numbers are awesome!  For comparison, using the `plotly graph` approach in the README with a small plot takes about 1.7

[2018-08-08 15:03] etpinard commented on #110
Great.

Interesting find. From what I'm seeing only the standalone executable behaves this way. The `./bin/orca.js` script does not spin up that many "helpers". This could be related to `orca serve` booting up one browser window per [available export component](https://github.com/plotly/orca/blob/647239b5d90d9abf8724535c798de54d8b33e97c/bin/serve.js#L79-L101), but I doubt the idle windows would co

[2018-08-08 15:19] jonmmease commented on #110
On my side, when I run `./bin/orca.js serve` I get the same number of child processes, they're just named Electron rather than orca:

![screen shot 2018-08-08 at 11 15 21 am](https://user-images.githubusercontent.com/15064365/43846647-d94f8fb6-9afc-11e8-83f2-a56bf2ef0aac.png)

[2018-08-08 15:41] jonmmease commented on #110
Here's a clue, the returned subprocess PID is a bash process, not the main electron process.  If I run `os.kill(electron_pid, ...)` the shutdown works.

![screen shot 2018-08-08 at 11 38 26 am](https://user-images.githubusercontent.com/15064365/43847849-9d29c9e0-9aff-11e8-94a6-7ae5121dff69.png)

[2018-08-08 15:56] jonmmease commented on #110
Ok, I figured out a solution based on this article: http://veithen.github.io/2014/11/16/sigterm-propagation.html

In our wrapper bash script we basically just need to prefix the call to orca with `exec`. Then the bash process becomes the orca process and the signals sent from Python make it to orca.

Since we haven't merged it yet, I'll update this in my conda build PR.

[2018-08-08 18:19] mpowell12 opened #111 "Permission denied downloading orca?"
Command failed: cp /Applications/orca.app/Contents/Resources/app/bin/orca.sh /usr/local/bin/orca
cp: /usr/local/bin/orca: Permission denied

error message for mac

[2018-08-08 18:20] etpinard commented on #110
Confirmed. I accidentally ran `orca graph` which spins up 3 electron processes [which looks like the intended behavior](https://github.com/electron/electron/issues/2437#issuecomment-128416641). So I'm not sure why we get to 7 processes in `orca serve` but it must be related to opening one window per component. Perhaps we add a `--graph-only` flag to `orca serve` or something fancier to reduce that

[2018-08-08 18:31] jonmmease commented on #110
Are other components the dashboard/dash/thumbnail parts?  If so, then yeah, a `--graph-only` option might be a nice way to go.

Based on my experiments today, I think the server approach is going to be cleaner (no temp files) and provide a better use experience (more responsive). So I think it is probably worth looking into what it would take to trim the process count down by a few.

[2018-08-09 12:41] jonmmease commented on #110
Well, I took a look, and it seemed pretty straightforward, and then I ended up with a PR 🙂 https://github.com/plotly/orca/pull/112

[2018-08-13 20:45] etpinard commented on #111
`/usr/local/bin/orca` is usually a protected directory.

You could try to add `sudo` at the start of that command (if you have admin rights on your machine of course), or cp `orca` to a directory in your `$PATH` that you have access to.

[2018-08-14 13:27] mschilli87 opened #119 "running from within R produces no PNG"
I am trying to render a 3D plotly plot I made in R statically from different angles as PNG files.
I managed to dump the plotly object to a JSON file but running

[code]

does not produce the PNG file.
It runs for ~3sec and finishes but all it leaves behind is an empty `/tmp/orca-build` directory.

Surprinsingly, running

[code]

(copy/paste-ed from R, just to be sure) from shell works produces the

[2018-08-14 13:44] etpinard commented on #119
Does

[code]

as in our [quick start instructions](https://github.com/plotly/orca#quick-start) work for you though?

[2018-08-14 14:13] mschilli87 commented on #119
@etpinard: Yes it does, but this is a much more basic plot and `orca` finishes basically immediately.
I guess this only occurs when some more heavy lifting is involved.
My JSON is > 3 MB, but it worked 10/10 time from the shell and 0/10 times via `system` from R.

[2018-08-14 14:50] etpinard commented on #119
Have you tried the new `orca` function in R

https://github.com/plotly/orca/pull/94/files

[2018-08-14 14:54] mschilli87 commented on #119
It throws

[code]

instead of using my local installation of orca

[2018-08-14 18:11] mpowell12 commented on #111
this worked! thank you

[2018-08-15 03:08] Transmystical opened #120 "Orca Error - sh: orca: command not found"

[2018-08-15 15:26] etpinard commented on #120
Is `plotly-orca` part of your `conda list` output?

[2018-08-15 15:45] Transmystical commented on #120
Thank you for your response! Yes, it is:

$ conda list
plotly-orca               1.1.0                         1    plotly

Plus, I can do this ….

$ orca --help
Plotly's image-exporting utilities

  Usage: orca [--version] [--help] <command> [<args>]

  Available commands:
  - graph [or plotly-graph, plotly_graph]

However, my error has now changed when I run the following command:

json <- plotl

[2018-08-16 20:41] etpinard commented on #107
done in `v1.1.0`

[2018-08-16 20:41] #107 closed

[2018-08-16 20:43] etpinard commented on #120
I think this might a case of conflicting installations. Have you tried installing orca by other means than `conda`?

[2018-08-16 20:46] etpinard commented on #119
Are you trying to export a `scattermapbox` graph? If so, then yes you'll need to add the access token to your shell environment.

Now, maybe the R api wants you to have `MAPBOX_TOKEN` set no matter what graph you're trying to export. I don't know., but that would be a question for https://github.com/ropensci/plotly

[2018-08-17 06:16] mschilli87 commented on #119
But shouldn't command line `orca` run fine when called from within R just like when called from shell? Or is this something I'd have to take up to the base-R devs? :wink:

[2018-08-17 21:20] chazdm opened #121 "problems installing seurat; hdf5r installing issues"
Hello,

I am trying to install Seurat and having troubles with it. I keep getting the error message as follows:

ERROR: dependency ‘hdf5r’ is not available for package ‘Seurat’
* removing ‘/gpfs/home/cdmelloc/anaconda/envs/U87/lib/R/library/Seurat’
Installation failed: Command failed (1)

So I tried installing the hdf5r package, I get the following error:

trying URL 'http://cran.stat.sfu.ca/src/c

[2018-08-20 08:35] mschilli87 commented on #119
This is very weird: Now, I am also not able to get the PNG when running

[code]

but

[code]

works.

So I went ahead and tried

[code]
 and I got the PNG!

---
Should I close this issue and open a new one or just change this issues title to further investigate?

[2018-08-20 13:41] etpinard commented on #119
This appears like a duplicate of https://github.com/plotly/orca/issues/101

[2018-08-20 15:45] mschilli87 commented on #119
I can confirm that I indeed had a `~/model.png` from the 'unsuccessful' runs. :wink:

[2018-08-20 15:45] #119 closed

[2018-08-21 03:10] etpinard commented on #121
This must be a mistake. This bug report makes no mention of orca nor plotly.

[2018-08-21 03:10] #121 closed

[2018-08-22 19:54] Michelebradley commented on #120
Getting the same error as @Transmystical after using the system(cmd) prompt

Downloaded the standalone Orca binaries for Mac

[2018-08-25 00:10] jonmmease commented on #111
See PR https://github.com/plotly/orca/pull/122 for a proposed solution to avoid this permissions error.

[2018-08-27 14:48] pbreheny opened #123 "orca CLI does not recognize directory; saves everything in current dir"
The basic example given in the README does not work correctly if a filename with a path is specified:

[code]

This creates 'fig.png' in the current directory, not in 'tmp'.

This is presumably related to #101, but just wanted to point out that it isn't an R/python API issue; it happens when you use orca directly as well.

Version info: 1.1.0 installed via npm.

[2018-08-27 16:16] etpinard commented on #123
duplicate of https://github.com/plotly/orca/issues/101

[2018-08-27 16:16] #123 closed

[2018-08-29 09:53] jonmmease opened #124 "Segmentation fault when NODE_OPTIONS environment variable set"
See Electron issue https://github.com/electron/electron/issues/12695

Prior to electron version 2.0.3., having the `NODE_OPTIONS` environment variable set causes electron applications to exit with a segmentation fault, and I can reproduce this behavior with orca.

This is particularly unfortunate for plotly.py because the [instructions](https://github.com/plotly/plotly.py) for installing the plotl

[2018-08-31 01:01] KilianB opened #126 "Exporting image to folder"
I am trying to export a chart to a specific folder, but no matter what syntax for the path I use the graph gets saved in the working directory directory `setwd(...)`

[code]

No matter which of the the following paths are supplied to the orca function the graph is exported saved as `01000.png` in the wd. Is this the intended behavior?

[code]

[2018-08-31 01:04] KilianB commented on #126
duplicate https://github.com/plotly/orca/issues/101

[2018-08-31 01:04] #126 closed

[2018-09-04 19:56] Marcin-Tabaka opened #127 "error when exporting scatter3d image with orca under Xvfb"
I am trying to export scatter3d plot using orca under xvfb.
2D scatter plots are exported correctly.
The error occurs only for 3d scatter plots.
I will appreciate any help.

[code]

[code]

[2018-09-04 20:02] etpinard commented on #127
I suspect you're using orca in a headless environment.

You could try using

https://github.com/plotly/orca/blob/d50563f4d6dbc20c4a5a37e15c9465f90e97a37a/deployment/run_server#L29

as we do in our image server.

If that still doesn't work, could tell us a bit more about how you're running orca? Thank you.

[2018-09-05 10:31] ghtmtt commented on #101
Hi all.. I'm trying to make some tests with Orca.

I get errors in both Linux and Windows (Windows in a Virtual Machine).

The script used is the same as that one in the Readme.md. From a python3 shell:

[code]
the error is:

[code]

With Windows I have to change the call to orca with the option `shell=True`, but then I get an exit code = 1 (meaning nothing has been done right?).

Plotly version i

[2018-09-05 14:13] etpinard commented on #101
@ghtmtt

what does

[code]

output in your command prompt?

[2018-09-05 14:28] ghtmtt commented on #101
ouch! sorry!! was super super sure call plotly's orca...

is that any future chance to have it shipped together with plotly (so installation with pip)?

Thanks and sorry again for the noise

[2018-09-05 18:57] Marcin-Tabaka commented on #127
Yes, I am trying to run it as a docker image. I have the following lines in a Dockerfile:

[code]
This works for 2d plots but fails for 3d.
I don't know how to run xvfb as a server as you suggested.
Any ideas how to modify Dockerfile to get it working?
Thank you.

[2018-09-10 02:27] CavinWard commented on #120
Just wanted to ask if this issue has been resolved, and if so what the current fix is. I tried exporting a plot using orca in R (R 3.5.1 and plotly 4.8.0) today (9/9/2018) after installing orca using conda . Running `orca(p, "test.png")` gave the following error

Follow the installation instructions here -- https://github.com/plotly/orca#installation

I can run `help(orca)` with no errors

[2018-09-10 14:06] etpinard commented on #120
That gives no errors, but does it output anything?

[2018-09-13 18:05] mag009 commented on #41
I was able to reproduce the error feeding sequential request of a large json file ( 4.7M ) and every single time at 233 request the process crash. The larger the file is the quicker the process crash.

- it's not a resources issue as no message appear in dmesg nor a segfault.
- I've tested with current version of electron and 2.0.9 same result.

 I've tested with the following file : success/ee151

[2018-09-16 02:15] lobachevzky opened #131 "xvfb-run: error: Xvfb failed to start"
I am able to reproduce the error with the following minimal code:
[code]
To which I get the following error:
[code]
I am running headless so I use `xvfb-run`:
[code]
Using Ubuntu 18:
[code]
Weirdly, I do not get the error when I run ` /usr/local/bin/orca --version`:
[code]
Not sure what the other stuff is about.

[2018-09-17 15:40] hstocks commented on #131
`xvfb-run` hides errors by default, so you need to explicitly tell it to show the error.

Try this in your orca script:
```xvfb-run -e /dev/stdout /usr/local/lib/node_modules/orca/orca-1.1.1-x86_64.AppImage "$@"```

[2018-09-17 18:00] etpinard commented on #131
I suspect the `orca` in your path is GNOME's orca, not plotly's. What does

[code]

output for you?

[2018-09-17 19:38] lobachevzky commented on #131
[code]

[2018-09-17 19:53] etpinard commented on #131
and what about `$ which orca`?

[2018-09-17 20:36] lobachevzky commented on #131
[code]

[2018-09-17 20:38] lobachevzky commented on #131
Also @hstocks
[code]

[2018-09-17 20:45] etpinard commented on #131
and does

[code]

work for you?

-----------

[2018-09-17 21:09] lobachevzky commented on #131
[code]

[2018-09-18 14:06] etpinard commented on #131
abd what about

[code]

minus the `-e`?

[2018-09-18 18:47] lobachevzky commented on #131
[code]

[2018-09-22 13:05] rickyars commented on #120
I'm having the same problem as @CavinWard. I just installed `orca` using on my Mac using this command:
[code]
I can see orca:
[code]
But when I try to save an image from RStudio:
[code]

[2018-09-22 19:24] BoundaryValueProblems opened #132 "OSTYPE environmental variable in the orca script"
When I installed the latest version of orca via ORCA.jl (v0.1.0) under Julia v1.0 on my MacBook Pro (OS X 10.11.6), and ran using ORCA. Then it complained:

/Users/xxx/.julia/packages/ORCA/vWe2Y/deps/bin/orca: line 7: /Users/xxx/.julia/packages/ORCA/vWe2Y/deps/lib/orca_app/orca: No such file or directory
/Users/xxx/.julia/packages/ORCA/vWe2Y/deps/bin/orca: line 7: exec: /Users/xxx/.julia/packages/

[2018-09-23 11:47] jonmmease commented on #132
Hi @BoundaryValueProblems, thanks for the report.

The best way forward is probably to move all of the `OSTYPE`-based logic into the build process and create a different `bin/orca` shell script for MacOs and Linux.

Something like:

Remove this line:
https://github.com/plotly/orca/blob/891d02308750068fce6a2565ca87323e760d0b89/recipe/build.sh#L16
and remove the `recipe/bin/orca` script.

Then add `

[2018-09-23 19:30] hstocks commented on #131
Remove the `--help` from the command you ran in response to my comment.
i.e. do ` xvfb-run -e /dev/stdout /usr/local/lib/node_modules/orca/orca-1.1.1-x86_64.AppImage`

[2018-09-24 14:34] cpsievert opened #133 "Possible to have deterministic clipPath ids?"
I'm working on a new visual testing framework for the plotly R package and I'm hoping to use at svg diffs via orca (if that seems like a bad idea in general, please let me know).

It looks as though the `id` property of `<clipPath />` is semi-random -- would it be possible to add an argument to make this (and possibly other) svg properties be deterministic?

If not, would you see any problem with

[2018-09-24 14:45] cpsievert commented on #120
You'l need to either start RStudio from the command-line or manually edit R's PATH environment variable:

[code]

If you prefer the latter approach, you could put that code in your `.Rprofile` so you don't have to run that code everytime to restart R

[2018-09-24 18:03] lobachevzky commented on #131
[code]

[2018-09-24 21:30] BoundaryValueProblems commented on #132
@jonmmease Thanks a lot for your comments! I would greatly appreciate it if you could do pull request rather than doing it myself since I am not familar with npm, etc. Thanks!

[2018-09-26 14:36] etpinard commented on #133
It would be possible. Sounds like a solid idea.

Off the top of my head, clip-path ids use either `fullLayout._uid` and/or `fullData[i].uid` to make them "unique" on the page.

`fullData[i].uid` can be optionally set by users calling `Plotly.newPlot`. In turn, `fullLayout._uid` is only [generated internally](https://github.com/plotly/plotly.js/blob/a070a8d2dd89f8ecbee89eecee77979298bfd886/src/plot

[2018-09-28 21:32] mungojam commented on #21
It would be useful for my workplace if this was bundled in a python package as we don't currently have a good internal way to distribute anything else like node packages as we are python focused. You can make OS dependent wheel files as other projects do

[2018-09-29 19:10] BoundaryValueProblems opened #136 "orca.cmd generated on Windows 10 has a path name mixing \ and /"
I don't have any problem of installing orca on Mac OS X and Linux machines, but on my Windows 10 machine, when I install orca via conda, it creates a file ```orca.cmd```, whose contents are:
[code]
This mixed use of ```/``` and ```\``` is not good and doesn't work on windows.
On Mac OS X and Linux, only ```/``` is used. Which file should be fixed for Windows machines?
Thanks for your help!

[2018-10-04 00:35] cpsievert commented on #127
@Marcin-Tabaka I ran into the same issue and adding `--enable-webgl` fixed it for me

[2018-10-04 01:59] etpinard commented on #127
Interesting. Thanks for posting @cpsievert !

Maybe we should add that flag along side this one:

https://github.com/plotly/orca/blob/a0e7314a784802b4824b359aeff891e0d40be184/src/util/init-app.js#L10

[2018-10-05 00:00] jonmmease commented on #136
Sure, from the command prompt run

[code]
I'm not familiar with the Conda.jl project, but here's an old PR that looks like it was designed to fix an issue very similar to what you're seeing. https://github.com/JuliaPy/Conda.jl/pull/9

Oh, and what is the full path to the `orca.cmd` file you mentioned above?  I'm wondering if somehow your environment is picking up the `orca.cmd` file in the `pkgs`

[2018-10-05 03:36] BoundaryValueProblems commented on #136
@jonmmease: Thanks! The version of conda on my windows machine is 4.5.11. Now, to be more precise, plotly/orca was installed by ORCA.jl: https://github.com/sglyon/ORCA.jl, which in turn uses Conda.jl.
On my windows machine, ```orca.cmd``` was installed on the folder: ```/c/Users/My Username/.julia/packages/ORCA/vWe2Y/deps``` and its contents is:
[code]
The ```orca.cmd``` containing the line ```"/o

[2018-10-05 10:46] jonmmease commented on #136
Hi @BoundaryValueProblems ,

With conda packages you (and other libraries) shouldn't use scripts under the `pkgs` directory, because conda does important stuff during the installation process (like rewriting the `/opt/anaconda1anaconda2anaconda3` string), when things are moved to the environment directory.  So in your case, you shouldn't directly call the `orca.cmd` script in `/c/Users/My Username

[2018-10-05 17:35] BoundaryValueProblems commented on #136
@jonmmease: Sorry for the confusion, but ```orca.cmd``` installed by ```ORCA.jl``` is the one used. I just simply cited the version under ```pkgs/plotly-orca-1.1.1-1``` to draw people's attention because both ```orca.cmd``` files have problems like my original posting at least under Windows. By the way, I tried to reinstall ```plotly/orca``` via ```ORCA.jl``` from scratch. But the problem still re

[2018-10-06 11:10] jonmmease commented on #136
Hi @BoundaryValueProblems,  I'm not sure I'm following your whole situation anymore.  Let me summarize.

The `orca.cmd` file under `C:/Users/My Username/.julia/packages/Conda/hsaaN/deps/usr/pkgs/plotly-orca-1.1.1-1` that contains the `/opt/anaconda1anaconda2anaconda3` string is installed by conda.  It is the expected behavior for this script to contain the `/opt/anaconda1anaconda2anaconda3` string

[2018-10-06 17:50] BoundaryValueProblems commented on #136
@jonmmease: Thanks! What you summarized were correct. I just want to add that both ```orca.cmd``` contains the paths mixing ```/``` and ```\```.

Now if I run the original ```orca.cmd``` that contains the path mixing ```/``` and ```\``` in ```C:\Users\My Username\.julia\packages\ORCA\vWe2Y\deps``` under git-bash or CMD terminal, I got the following, which sounds right:
[code]
Of course I got the s

[2018-10-08 23:03] malmaud opened #137 "No output in Ubuntu"
Not sure what's going on here. No orca command outputs anything to the command line:

[code]

[2018-10-08 23:09] malmaud commented on #137
Mmm, looks like the executable is just returning 1 without printing anything if it can't find an X server. Maybe it would be nicer to print a helpout error message to stderr.

[2018-10-11 07:19] zerlia opened #138 "orca can not export large plotly"
Hi ~
When I use orca(p, file = "pp.png"), If the plotly object p is small, it is OK. But if p contain many data inside or too complex, then R will return Error as follow:

**Error in process_initialize(self, private, command, args, stdin, stdout,  :
  processx error, create process: #206 文件名或扩展名太长。
 at 'win/processx.c:1039'**

My computer is Window 7 64bit and R version is 3.5.1

In Google I just

[2018-10-11 12:56] vivekvs1 opened #139 "Feature request - Generating images from Dash Layouts"
It would be nice to have the feature to be able to export a Dash layout as a high-quality image format using orca.

[2018-10-20 17:35] Ejdamm opened #140 "Wrong file permissions for orca-build in Linux"
Hi,
We are several users using orca on the same system and we have to erase the orca-build folder in /tmp everytime a new user wants to run orca. This is because it is created with 755 as file permissions so other users can not write to it.

The line that creates the folder is located in /src/util/create-index.js:10
Documentation for mkdirsync says default permission should be 777 so it should wor

[2018-10-23 14:47] ravi-aggarwal commented on #137
@malmaud - I am seeing the same issue, were you able to resolve this?

[2018-10-23 17:07] romelgomez opened #141 "Pure python package?"
I attempt to integrate orca to AWS Lambda function, and orca has dependencies in packages of NPM, that need to be installed globally.

I attempt to install the packages locally `npm install electron@1.8.4 orca`, to see if work, and then put the folder node_modules in the .zip build, but not work for me.

Any idea how to tackle this.

[2018-10-23 17:46] etpinard commented on #141
Would using `conda` work for you?

https://github.com/plotly/orca#method-1-conda

[2018-10-23 19:04] romelgomez commented on #141
Well, it looks like that will work, but the lambda has a limit of [50MB](https://docs.aws.amazon.com/lambda/latest/dg/limits.html) and the node_modules folder after installing electron@1.8.4 orca weight 132MB, also test this hypothesis will change all the build process set by the template that we have to use.

I test the online API, the simple example:

[code]

That return `https://plot.ly/~user/0

[2018-10-23 19:38] #141 closed

[2018-10-24 13:33] etpinard commented on #68
Not worth pursuing.

[2018-10-24 13:33] #68 closed

[2018-10-24 13:36] etpinard commented on #91
We should be using node 10 in development.

We should drop support for node 6 in `orca@v2`

[2018-10-24 13:40] etpinard commented on #138
Hmm, this appears like a problem with the R wrapper.

Have you tried upgrading to their version available on CRAN?

[2018-10-24 14:34] alberduris commented on #138
Yes, but does not solve the problem.

In fact my error is `process_initialize not found`

`

[2018-10-26 00:33] malmaud commented on #137
Ya, you have to have an X11 server running and make sure the `DISPLAY` environment variable is set appropriately in the environment where `orca` is run.

[2018-10-26 00:39] ravi-aggarwal commented on #137
Thanks, I installed xvfb instead

[2018-10-26 01:30] antoinerg commented on #137
Hello @ravi-aggarwal! If `xvfb-run` fails and you want to get the error message, use the `-e` flag and redirect its standard error ex.: ```xvfb-run -e /dev/stdout```. Copy and paste it here so we can help you debug!

[2018-10-26 14:27] tmsss opened #142 "ValueError: The orca executable is required to export figures as static images...."
I'm trying to use orca with Windows 10 and python but I can't seem to get it working.

I've installed via `$ conda install -c plotly plotly-orca` and added the executable to path in the system variables and to plotly-orca's configuration with plotly.io.orca.config.executable, which in my case is `'C:\Users\tmsss\Anaconda3\pkgs\plotly-orca-1.1.1-1\orca_app'`.

While I do have access to orca in the

[2018-10-26 18:31] tmsss commented on #142
Nevermind, I've finally got it working. I was getting the path to executable wrong in the plotly-orca's config, it must be the exact path to executable file:

[code]

[2018-10-26 18:31] #142 closed

[2018-10-31 17:40] slishak opened #143 "Error when trying to write multi-page PDF file"
I appreciate that this is not necessarily an issue with Plotly or Orca, but I'm trying to use PyPDF2 to write a multiple page PDF file, as per the following Python example:

[code]

All of the individual PDFs are written correctly, but PyPDF2 fails to merge them with the following error:
`PyPDF2.utils.PdfReadError: Multiple definitions in dictionary at byte 0x8f0 for key /Type`

This happens wheth

[2018-11-07 13:28] paulcbauer opened #145 "Can't download windows-release.zip because Windows Defender detects a virus..."
I guess my windows defender too suspicious...

-----------------------------------------------------------
Trojan:Script/Foretype.A!ml

Affected items: file: C:\Users\paul\Downloads\windows-release.zip

webfile: C:\Users\paul\Downloads\windows-release.zip|https://github-production-release-asset-2e65be.s3.amazonaws.com/99037241/d45c1b00-ac4f-11e8-96d6-38af97dff55c?X-Amz-Algorithm=AWS4-HMAC-SHA256&X

[2018-11-07 19:18] vivekvs1 commented on #139
@chriddyp  : I was wondering if there are any plans to have this implemented in the next few months. Thanks :)

[2018-11-14 21:33] antoinerg opened #146 "Droid fonts not available anymore"
In the Dockerfile, we retrieve the Droid fonts at https://github.com/google/fonts/trunk/apache/droid* but they are not there anymore (https://github.com/google/fonts/issues/1223).

[2018-11-15 18:36] priyatharsan opened #147 "table pdf exports with line"
related to https://github.com/plotly/streambed/issues/11618

The issue still seems to persist in few environments. The PDF exports display line in the following environments:
user at intercom:  Windows 10 / Chrome viewer
@priyatharsan Windows 10 / Adobe-reader
@nicolaskruchten MacOS10.13 / Chrome70

It did not show any lines in: MacOS10.13 / Preview

Example plots: https://plot.ly/python/table/#ro

[2018-11-15 19:08] etpinard commented on #147
Can you try opening

[fig.pdf](https://github.com/plotly/orca/files/2586673/fig.pdf)

on whichever platform that is still showing erroneous lines?

[2018-11-15 19:21] priyatharsan commented on #147
I don't see the line in this pdf used Adobe reader

[2018-11-15 19:37] etpinard commented on #147
Here's the output of

[code]

[fig.pdf](https://github.com/plotly/orca/files/2586749/fig.pdf)

No erroneous lines in `evince` nor in the Chrome PDF viewer.

[2018-11-15 20:13] etpinard commented on #147
Already, we'll looks like this isn't a problem with orca nor with plotly.js. Something must be up with our prod image server machine. Can someone confirm that they are all using `plotly.js@1.42.5`?

[2018-11-15 20:57] priyatharsan commented on #147
how do I test that?

[2018-11-15 21:43] priyatharsan commented on #147
https://github.com/plotly/plotly.py/blob/master/js/package.json#L34
I think the issue is specific to python API.

[2018-11-19 15:39] slishak commented on #143
Yes, that seems to work fine. Although I found out that it also works if you disable `strict` mode in `PyPDF2.PdfFileMerger` so currently this issue isn't actually limiting me - I just get a lot of console warnings spitted out now!

[2018-11-19 15:43] etpinard commented on #143
Thanks for the reply. It sounds like orca PDF exports are _ok_.

I'll close this issue. We aren't planning on adding multi-page (multi-graphs) exports for the moment.

[2018-11-19 15:43] #143 closed

[2018-11-19 16:01] slishak commented on #143
Agreed that they're "OK" and happy to have this issue closed - although looking at what's written in the  issue linked in the original post, they do technically seem to be violating the PDF standard!

[2018-11-20 11:36] stphnlyd opened #148 "text does not shown correctly in generated png file"
I am using the 1.1.1 AppImage on Linux RHEL7. All texts, which are just ASCII, are not show correctly in the png file. Looks like encoding or font problem. Is this a known issue?

[2018-11-20 21:23] priyatharsan commented on #147
Do we have any updates regarding this issue?

[2018-11-20 21:30] etpinard commented on #147
No updates. Nothing makes me believe this problems has to do with orca or plotly.js.

[2018-11-21 11:01] stphnlyd commented on #148
I've found the cause, for sans family orca would need several fonts including "open sans", verdana, arial, then it would fallback to sans-serif. My machine had no "open sans" as it was not installed, nor verdana and arial as they are Microsoft fonts. I installed "open sans" and it's fine now.

Could be best to doc this somewhere. I took me a whole day to figure this out.

[2018-11-22 11:36] Ejdamm commented on #131
Try put the -a flag in /usr/local/bin/orca and then try to run your code again.
`xvfb-run -a /usr/local/lib/node_modules/orca/orca-1.1.1-x86_64.AppImage "$@"`

[2018-11-22 17:01] etpinard commented on #147
@priyatharsan I'll close this ticket

The latest version of orca, plotly.py and plotly.js are able to export that `table` graph w/o the erroneous line

[2018-11-22 17:21] priyatharsan commented on #147
@etpinard  Thanks for the update 👍

[2018-11-22 20:34] Clocktown commented on #136
Windows can handle a mix and match of `/` and `\`. This wasn't always true. Nowadays, you don't need to worry.

[2018-11-23 13:42] lobachevzky commented on #131
[code]

[2018-11-24 15:26] Clocktown opened #149 "Arguments get passed to Node when launched from Python Interactive in VSCode"
### System Info
Windows 10 Pro 64 Bit
Anaconda3, Python 3.7, 64 Bit
orca installed through conda

### Expected behaviour
Running orca using Python `subprocess` module actually runs orca.
### Actual behaviour
Arguments are passed to node instead, but only if run inside a Visual Studio Code "Python Interactive" Pane (Jupyter Server), and in no other situation.

### Long Version
I have a very weird i

[2018-11-26 21:10] WurtzJd opened #150 "Can plotly.io.to_image used inside a docker container?"
When using plotly.io.to_image inside a docker container I get :
"_When used on Linux, orca requires an X11 display server, but none was detected. Please install X11, or configure your system with Xvfb._"

I tried adding apt-get install -y x11-apps but it does not help.

Cheers

[2018-11-27 07:17] Ejdamm commented on #131
That is the result I get when I run the command directly in the terminal but that is not what it is meant for. Did you put it in /usr/local/bin/orca?

[2018-11-27 13:51] lobachevzky commented on #131
Ah sorry for misreading. That actually fixed it. What does `-a` do?

[2018-11-27 18:36] Ejdamm commented on #131
Manpages says

So if there is already a xvfb-instance running and the -a flag is not set they will both try to connect with server number 99. With the -a flag enabled the second instance will try to get server number 100++ instead.

I also use headless ubuntu 18.04 and had the same problem. I tracked it down to validate_executable() in _orca.py (https://github.com/plotly/plotly.py/blob/master/plot

[2018-11-28 19:46] antoinerg opened #154 "tests are failing on master due to missing packages in remote repo"
`test-node-v6` and `test-node-v8` fails on `apt-get install`

[code]

[2018-11-28 20:09] dschneiderch opened #155 "rstudio not recognizing orca cmd tools"
i'm trying to download a figure from a rshiny app that displays a plotly figure. rstudio throws an error

[code]

but orca is in the path.  see image
![image](https://user-images.githubusercontent.com/7461221/49167634-9de37a00-f2ea-11e8-8211-c14dd1e408fc.png)

Im running WIndows 10 with the latest Rstudio v1.1.463. the app developer suggested I try a different plotly version so after I tried plotl

[2018-11-28 21:07] lobachevzky commented on #131
Not directly related to this bug, but for some reason I get
[code]

[2018-11-28 21:07] #131 closed

[2018-11-29 14:55] #154 closed

[2018-11-30 04:38] williamhakim10 opened #158 "Terminate xvfb-run processes started with -a?"
The current guidance for running headlessly is to do something like:

```xvfb-run -a /path/to/AppImage...``` as in the readme.

This works well, except that I am using a daemon (Celery, to be precise) to invoke orca. If the daemon is ever restarted (in Celery's case, this can be all sorts of things such as missed heartbeats or a new deployment), then a new xvfb instance is created (rather than usi

[2018-11-30 10:38] l0wsk1ll3d opened #159 "Run orca from Microsoft SQL Server R Services"
Because the old static image export with webshot is deprecated, I am trying to change my code to use orca.
The code runs on a Microsoft SQL Server 2017 with Machine Learning Services 9.3 installed. R Version is 3.4.3. Issue also occurs when I try to use Python instead.
When I execute the code like this it runs forever.
`EXECUTE sp_execute_external_script
       @language = N'R'
     , @script = N'

[2018-11-30 21:27] Taktubo opened #160 "Can a developer answer any of these FAQs"
For such a simple request (to locally export static images) this function lacks:

1. Maintenance, or some sort of assistance to anyone that needs help using this function
2. A straight-forward installation process (There are too many unanswered question on how to properly use orca
3. A back-up method of producing local graphs.

I've noticed that these FAQs have been posted for months now with no a

[2018-11-30 22:04] etpinard commented on #160
Thanks for writing in!

You're right, we probably should spend more time looking over these issues. To be fair though, all the open issues are _not_ easily reproducible.

Now, if you're looking for help: Would you mind telling us how you're using orca? I suspect you're using the [R library](https://github.com/ropensci/plotly), but it would be nice to confirm. Plotly's stack of libraries can be som

[2018-11-30 22:30] Taktubo commented on #160
Thank you for the rapid response! I’m sorry if my frustration was percoeved in my last message, you managed to respond before i could edit it out.

I am using the R library, and upon looking into the structurr of the plotly objects, it isnt as simple as I had originally assumed. I am away from my computer at the moments so i hope relative text works.

I am attempting tocreate a line graph mapping

[2018-12-01 19:52] XavierdeBondt opened #161 "Pyinstaller using orca"
When attempting to use [Pyinstaller](https://www.pyinstaller.org/) and creating a custom [.spec file](https://pyinstaller.readthedocs.io/en/v3.3.1/spec-files.html) which ensures it encludes orca as shown here (since it seems incompatible with pyinstaller)
[code]
Note that

- It includes the orca folder in the dist folder when using pyinstaller
- This orca folder is the folder that includes orca.ex

[2018-12-02 10:50] jonmmease commented on #161
Closing to move discussion to https://community.plot.ly/t/pyinstaller-with-plotly-orca-and-psutils-not-working/16324.

[2018-12-02 10:50] #161 closed

[2018-12-02 11:04] jonmmease commented on #158
Hi @williamhakim10, are you calling the `xvfb-run` script from Python using plotly.py's `plotly.io.write_image`? Or calling orca directly using a subprocess?

In any case, an alternative to using `xvfb-run` is to startup a single long-running Xvfb server and set the `DISPLAY` environment variable to the server's port.  Basically run something like this...

[code]

before calling `orca`, and then c

[2018-12-02 12:41] jonmmease commented on #150
Hi @WurtzJd,

Inside a docker container you'll probably need to run orca with xvfb-run.  See https://github.com/plotly/orca/blob/80855093193afba09a4dbebaa7bae776be88e15e/README.md#linux-troubleshooting-headless-server-configuration in the README.  Also, in case it's useful to you, here's the docker configuration used by the plotly team uses https://github.com/plotly/orca/blob/master/deployment/Doc

[2018-12-02 13:15] jonmmease commented on #149
Hi @Clocktown,

I am able to reproduce this on MacOS, and you're right that it's a really weird issue.  I think I tracked down the culprit.  I started by dumping out all of the environment variables that are set in the VSCode/Python Interactive session:

[code]
[code]

And the `ELECTRON_RUN_AS_NODE` variable caught by eye.  This is set to `1` here:

[code]
[code]

Here are the docs that I could fi

[2018-12-02 13:34] Clocktown commented on #149
@jonmmease Thanks for your detailed comment!
I verified this on Windows and indeed, that environment variable is the culprit. Which means we now have a working work-around at least.
I think clearing the variable from the plotly.py is the way to go, maybe a clear and restore around the commands that call orca.

[2018-12-03 02:04] williamhakim10 commented on #158
@jonmmease thanks for your reply - I more than appreciate the help! This sounds like a good solution (I will probably want to keep a bunch of Xvfb instances open simultaneously - as Celery is a task queue, but that's another matter). In the meantime I simply added a `kill_xvfb` function to my Celery init script, which can be called whenever the daemon stops for some reason (each Celery worker seem

[2018-12-03 11:08] jonmmease commented on #149
Closing in favor of https://github.com/plotly/plotly.py/issues/1293 and https://github.com/Microsoft/vscode-python/issues/3455 since the issue is out of the control of orca itself (when `ELECTRON_RUN_AS_NODE` is set, orca doesn't get invoked at all).

[2018-12-03 11:08] #149 closed

[2018-12-03 11:09] jonmmease commented on #158
Great, thanks @williamhakim10. Do you mind if we close now?

[2018-12-03 11:14] jonmmease commented on #159
Hi @l0wsk1ll3d,
Thanks for reaching out.  Unfortunately this is a setup that the orca devs won't be able to reproduce very easily.

@cpsievert, do you have any thoughts on the R component of this scenario?

[2018-12-03 11:16] jonmmease commented on #120
Closing due to inactivity. Thanks @cpsievert!

[2018-12-03 11:16] #120 closed

[2018-12-03 11:17] jonmmease commented on #155
Hi @dschneiderch ,

Thanks for reaching out, can you try the suggestions in https://github.com/plotly/orca/issues/120#issuecomment-424000634?

[2018-12-03 11:19] jonmmease commented on #138
@cpsievert, have you seen this error before?

[2018-12-03 11:21] jonmmease commented on #136
Closing as it seems like the original issue here was resolved. Feel free to follow up if that's not the case.

[2018-12-03 11:21] #136 closed

[2018-12-03 12:11] l0wsk1ll3d commented on #159
If you need any help on reproducing or testing I am happy to assist.

[2018-12-03 14:56] etpinard commented on #160
Apologies accepted @Taktubo !

Unfortunately, I'm not familiar with how our R library wraps the orca CLI. I found:

- https://www.rdocumentation.org/packages/plotly/versions/4.8.0/topics/orca
- https://plot.ly/r/static-image-export/

and perhaps looking over past orca+R issues:

https://github.com/ropensci/plotly/issues?utf8=%E2%9C%93&q=is%3Aissue+orca+

could help you out.

[2018-12-03 14:58] Taktubo commented on #160
Thank you so much for your assistance, I will go over these resources and
see if I can figure it out. if I do, I will reply to my post with a
solution.

On Mon, Dec 3, 2018 at 9:56 AM Étienne Tétreault-Pinard <
notifications@github.com> wrote:

--
Takana Tubo M.S.
Master's of Science in Neuroscience
Morehouse School of Medicine Class of 2016
Biology Major Bioinformatics Minor
Morehouse College Cla

[2018-12-03 15:00] #147 closed

[2018-12-03 16:16] chrispahm opened #162 "Can't export graphs [Win10]"
Hey there,
I tried following command line example from your README:
[code]
which returns the following message:
[code]
I'm running orca `1.1.1` on a Windows 10 x64 machine (using CMD).
When using the `--verbose` flag, it orca tells me that it has issues parsing the JSON:
[code]

Calling the exact same JSON from a file, the output is generated as expected:
[code]

Thought this might be of interest

[2018-12-03 18:40] dschneiderch commented on #155
oddly enough  i opened everything up (computer was shut down over the weekend) and it worked*, but I will keep that in mind. Thanks.

* it worked as expected ( download of plot.png) from an external viewer (browser) but when using the internal rstudio viewer i get a file called download_plot without an extension. renaming it to png allows it to open. i believe the internal R function inside the ap

[2018-12-03 18:40] #155 closed

[2018-12-03 21:34] williamhakim10 commented on #158
Yes, I'll close it. Thanks you for your advice!

[2018-12-03 21:34] #158 closed

[2018-12-04 02:03] dwjp opened #164 "ConnectionRefused on first attempt at exporting image"
I'm running orca in a miniconda container, which is in turn running as a celery service (though probably not relevant).

On the first one or two attempts at generating an image (when kicking off at about the same time, but on separate processes), I get connection refused. On subsequent tries, it works fine, everytime.

At a guess, I suspect the python client isn't waiting long enough for orca to s

[2018-12-04 07:59] l0wsk1ll3d commented on #159
`EXECUTE sp_execute_external_script
       @language = N'R'
     , @script = N'
       OutputDataSet <- as.data.frame(Sys.which("orca"));';`
returns me "C:\PROGRA~1\orca\orca.exe", which is the correct location of orca on this server.

[2018-12-04 13:32] ociule commented on #164
I've seen this behaviour enough times for it to become very annoying, I would appreciate a robust retry policy. Thanks.

[2018-12-05 09:48] rkinwork commented on #148
For future readers  Linux Centos

if your script generates png/jpeg files without digits and letters

you should install fonts for your x11

    sudo yum install open-sans-fonts
    sudo yum install curl cabextract xorg-x11-font-utils fontconfig
    sudo yum install https://downloads.sourceforge.net/project/mscorefonts2/rpms/msttcore-fonts-installer-2.6-1.noarch.rpm

[2018-12-05 11:32] jonmmease commented on #164
Hi @dwjp and @ociule,

Thanks for letting us know.  What's happening here is that plotly.py launches orca as a server process the first time you export an image.  It does have a robust retry policy for communicating with the server, it just currently gives up after 8 seconds 🙂

https://github.com/plotly/plotly.py/blob/a9fa5de705d86a229eca988ec1f5ed5069d91dc0/plotly/io/_orca.py#L1194

This number i

[2018-12-05 11:32] #164 closed

[2018-12-06 23:15] etpinard commented on #162
I suspect

[code]

isn't valid in the Windows command prompt. We must have the wrong combination of `'` and `"` that would make orca consider `'{ "data": [{"y": [1,2,1]}] }'` as one string to JSON-parse.

Thanks very much for bringing this up! Can a Windows dev help us out?

[2018-12-07 07:22] chrispahm commented on #162
Good call!
I found a [post on stackoverflow](https://stackoverflow.com/questions/28648473/windows-curl-with-json-data-on-the-command-line) describing that Windows `cmd` does not support strings with single quotes. The correct input (in this case) should then look like this:
[code]
I just tested this and it works fine. Do you want me to add a line to the readme (as a short notice for Windows `cmd`

[2018-12-07 14:57] etpinard commented on #162
That would be amazing!

[2018-12-07 19:11] antoinerg opened #166 "Improve EMF support"
This is follow-up to PR #152.

@etpinard noticed we could improve the following:
- [ ] improve the look of rangesliders
- [ ] category_autorange has shapes with fill-color: rgb(0,0,0) and fill-opacity: 0, sounds like we could simply remove fill-color here to get better results
- [ ] contour_log and contour_autorange are off like you mentioned in #152 (comment)
- [ ] legend_horizontal_autowrap has

[2018-12-09 16:10] chrispahm commented on #162
see #167

[2018-12-10 15:54] etpinard commented on #162
done in #167

[2018-12-10 15:54] #162 closed

[2018-12-10 19:16] ivymichael opened #169 "orca --help shows nothing after several .deb files installations, and error when pio.write_image to a linux local path"
### Environment

Python: Anaconda Python 3.6.5
Server: Ubuntu server 16.04.03 LTS **without internet access**
Plotly: 3.4.2
orca: v1.1.1

Dear developers,

I install the plotly-orca based on the github page Linux part, after I make the soft link,
here is what I got when type `which orca`
[code]
And then `orca --help` I got
[code]
Following the official instructions,  considering this is an offline

[2018-12-10 19:41] antoinerg commented on #169
@ivymichael Did you try running:
`xvfb-run -a orca --help`

[2018-12-10 20:10] ivymichael commented on #169
Hi @antoinerg
I got the below response,
[code]
Seems got some progress! But doesn`t work for Flask application?
Should I create a orca.sh with below content?
[code]
Then I need to do:
1. put this orca.sh to /usr/bin
2. `ln -s /usr/bin/orca.sh /usr/bin/orca`
Is it right?

[2018-12-10 20:44] antoinerg commented on #169
It's a little bit hard for me to help you debug this problem but since it seems like you're building a webapp, did you consider running Orca as a server and using its HTTP api from Flask?

This way you could start Orca with `xvfb-run -a orca serve --verbose --port 9091` which seems to work for you. Then, from Flask simply send the JSON of the figure you want to render with an HTTP POST request at

[2018-12-10 21:01] ivymichael commented on #169
Hi @antoinerg,
Thank you very much! I manage the script problem, I shouldn`t copy orca.sh from window to Linux, when I create it originally from Linux, the link works.

However, when calling the pio.write_image() function within Flask app, the request holds on forever with no page response, anyhow, I`ll try to tweak it more to see further possibilities, and also thanks for your suggestion, I`ll de

[2018-12-11 13:33] ivymichael commented on #169
Hi @antoinerg
I tried the server command you mentioned, then I got the response below and seems the system is hanging there, no more response. And I have to ctrl + c to stop it.
[code]
Am I missing any thing in Ubuntu side?

[2018-12-11 16:16] antoinerg commented on #169
It looks like you're missing an OpenGL library. Do you have a working graphical environment? Maybe try to install Mesa 3D library.

Also, are you running Docker? Would you rather have Orca packaged in a Docker container?

[2018-12-13 18:55] dspires commented on #138
Hi, supers.

I installed the GitHub version using `devtools::install_github('ropensci/plotly')` but the same error still occurs.

If I try to use `export`:

`> export(h, file = "output/heatmap-down.png")
1   0x1b67967 /home/pires/bin/phantomjs() [0x1b67967]
2   0x9fed7a /home/pires/bin/phantomjs() [0x9fed7a]
3   0xa049ec /home/pires/bin/phantomjs() [0xa049ec]
4   0x1277ba6 /home/pires/bin/phantomj

[2018-12-13 21:38] cpsievert commented on #138
I might be able to help, but please open an issue here, include your `devtools::session_info()`, and a reproducible example

https://github.com/ropensci/plotly/issues/new

[2018-12-17 18:29] vijayshukla30 opened #171 "TypeError: path must be a string or Buffer"
I am using Java Process builder to execute commands on shell. But it hangs up, when I used --debug then it throws the Error:-
![image](https://user-images.githubusercontent.com/11537372/50107035-7b90ac80-0257-11e9-88fb-c261c64f6cff.png)
![image](https://user-images.githubusercontent.com/11537372/50107099-aed33b80-0257-11e9-8feb-99a030c97cfc.png)
Please let me know what I am doing wrong.

[2018-12-17 18:37] etpinard commented on #171
Could you share more info on what the "Java process builder" is and how you are using it? Thank you.

[2018-12-17 19:59] ivymichael commented on #169
@antoinerg Sorry for the late reply, I`ve been traveling for last few days.
I`m using company internal virutal Linux server, it seems that we don`t have the physical graphical card, is Orca compatible with such situation?
Never tried docker, will it break my current non-docker apache2 web-app-server setup?

[code]

[2018-12-17 20:45] antoinerg commented on #169
No worries @ivymichael!

Yes Orca should work in that situation by running a software implementation of OpenGL such as the ones included in Mesa3D. Rendering 3D figures will take a little bit longer but it will work.

Also, you may not be aware of this but plot.ly is hosting a fleet of Orcas in the cloud which can be used [with a simple HTTP API](https://api.plot.ly).

Finally, Docker shouldn't br

[2018-12-18 03:58] vijayshukla30 commented on #171
@etpinard I already attach the scrrenshot for the same. You just run the above code and hope you face the same issue.
For more references I am using java 8, ubuntu 18.04 and I have created a soft link of orca.X.Appimage to /usr/bin with name orca.
When I execute only `'/usr/bin/orca', 'graph', '-help'`, then it show the help details. But when I passwed URL for the JSON it hangs up.

[2018-12-18 11:11] ivymichael commented on #169
Dear @antoinerg,

Due to firewall issue, the Linux server has no access to the public internet, the HTTP API will not work here I think, however, I do have root privilege for this server.

I\`ll first try to install Mesa3D library and try one more time rendering plotly figure through Orca, for Docker flow, is there any simple deployment tutorial, I want to learn about that, sounds very cool!

Than

[2018-12-18 18:59] antoinerg commented on #169
Sounds good @ivymichael !

Yes there are tons of Docker tutorials online. Installation can be as straightforward to install on Linux as outlined at https://github.com/docker/docker-install.

[2018-12-18 20:07] BRONSOLO opened #172 "Intermittent CI Test Failure: svn: E175002: 504 'Gateway Timeout'"
Intermittent test failure:

[code]

[2018-12-18 20:07] BRONSOLO commented on #172
https://circleci.com/gh/plotly/orca/2441?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2018-12-18 20:09] BRONSOLO commented on #172
Hit this in: https://github.com/plotly/orca/pull/151

[2018-12-19 14:34] etpinard commented on #171
Ok, what are you trying to do by running orca alongside java?

[2018-12-19 20:20] BRONSOLO opened #173 "Document imageserver image name for maintenance release"
All imageserver work for On-Prem 2.5.0 lands on https://github.com/plotly/orca/tree/v1.0.0-onprem. In order to make a maintenance release, we need some way to have a unique name for the updated image.

**Suggestions:**

1) Create a new branch for maintenance release v1.0.1-onprem
2) Tag image in quay.

Option 2 seems to be a nice solution imo.

I think we should document this for future releases.

[2018-12-19 20:35] scjody commented on #173
Managing ORCA versions is up to the folks that work on ORCA: @etpinard and now @antoinerg. For 2.5.0 @etpinard created the `v1.0.0-onprem` tag, and I'm not sure what his plans were for maintenance releases.

Maintenance releases need to be based on the previous version (`v1.0.0-onprem` in this case) and need to contain _only_ the needed fix(es). So normally they'd be built from a maintenance branc

[2018-12-19 21:34] scjody commented on #173
@BRONSOLO and I investigated this together. It turns out that `v1.0.0-onprem` is a branch in GitHub, not a tag. When https://github.com/plotly/orca/pull/151 was merged to the `v1.0.0-onprem` Orca branch, CircleCI built the a Docker image, pushed it to Quay, and [tagged it as `v1.0.0-onprem`](https://github.com/plotly/orca/blob/eda04a4b0e6b0eba03d38b3ece79f281fb625fab/.circleci/config.yml#L127-L133

[2018-12-19 23:30] etpinard commented on #173
Minor details:

- the public version of orca is at `v1.1.1`, I think we should freeze it as `v1.1.1-onprem`
- like @BRONSOLO, I would prefer git tags to freeze onprem orca versions, but branches are :ok_hand: too
- I tried to auto-tag docker images pushed to Quay.io whenever we publish a new public orca release (see https://github.com/plotly/orca/issues/106), but my first attempt failed. Once we h

[2018-12-20 00:05] antoinerg commented on #173
@BRONSOLO I think all the Docker images pushed to Quay already have a unique name. As you can see below they're tagged with the SHA1 of the commit (along with the branch name and the git tag): https://github.com/plotly/orca/blob/eda04a4b0e6b0eba03d38b3ece79f281fb625fab/.circleci/config.yml#L124-L134

[2018-12-20 10:14] #169 closed

[2018-12-20 14:57] Piplopp opened #174 "my mistake, sorry"
removed issue

[2018-12-20 15:00] #174 closed

[2018-12-20 16:41] scjody commented on #173
@etpinard @antoinerg It sounds like we're in agreement on using tags, not branches. I don't know why a branch was used for `v1.0.0-onprem` but let's focus on preventing this from happening again by agreeing on a process and documenting it.

We do tag Docker images with the git SHA1 and the name of the branch. I don't want to introduce any more automation than this - it's helpful to have humans inv

[2018-12-20 20:00] mag009 commented on #173
For cloud, we use the master tag : https://github.com/plotly/orca/blob/eda04a4b0e6b0eba03d38b3ece79f281fb625fab/deployment/kube/prod/frontend.yaml#L56

 We should change that to use the SHA1. We rely on the auto-scale to migrate to the new image.

@scjody
 We should probably provide a better way to deploy to cloud for helm (plotbot or circle)

[2018-12-20 23:08] antoinerg commented on #173
https://github.com/plotly/orca/blob/eda04a4b0e6b0eba03d38b3ece79f281fb625fab/deployment/kube/prod/frontend.yaml#L56
We should change that to use the SHA1. We rely on the auto-scale to migrate to the new image.

@mag009 Thank you for clearly reporting this issue that I briefly mentionned to @scjody yesterday. I agree that we should absolutely use a unique tag `image-exporter:$UNIQUE_TAG` or even be

[2018-12-20 23:37] scjody commented on #173
@mag009 @antoinerg

Let's discuss your concerns about Orca versioning for Chart Studio Cloud in a separate issue (probably in the streambed repo) - I'd like to keep this one focused on the On-Prem process.

Currently deployment happens via @plotbot, similarly to the way streambed is deployed. I'm not sure what improvements you have in mind but let's discuss them in a separate issue as well.

There

[2018-12-21 01:41] antoinerg commented on #173
Excellent idea

I can see the value of that. I think @etpinard also agrees with you.

@scjody I'm not sure completely understand your point. My thoughts was that if we have a human operation of adding a tag on Quay, we should have a way of distingushing those tags from the ones created by the CI to prevent any collision/confusion. The convention could be that tags without a prefix are the ones cre

[2018-12-21 18:05] scjody commented on #173
I've performed the actions listed in https://github.com/plotly/orca/issues/173#issuecomment-448751778 other than the documentation change (I'll continue that discussion when I have time).

[2018-12-28 10:14] syalanuj opened #175 "Not able to install libgtk2.0-0 on AWS linux AMI"
`orca --help` gives following error message
`/usr/lib/node_modules/electron/dist/electron: error while loading shared libraries: libgtk-x11-2.0.so.0: cannot open shared object file: No such file or directory`

According to documentation we need to install
I am not able to install 'libgtk2.0-0' through "yum"

[2018-12-28 14:10] etpinard commented on #175
Can you tell us how you installed `orca`? Thank you.

[2018-12-28 15:49] etpinard commented on #175
More info: https://github.com/plotly/orca#linux-troubleshooting-cannot-open-shared-object

Do you know which flavor of linux your AWS machine is running?

[2018-12-28 17:36] etpinard commented on #160
Closing due to lack of activity. @Taktubo feel free to open another issue if you have any other problems with orca. Thank you.

[2018-12-28 17:36] #160 closed

[2018-12-28 17:44] etpinard commented on #61
Closing (for now).

[2018-12-28 17:44] #61 closed

[2018-12-28 19:15] etpinard commented on #89
... and electron 3.0 and 4.0

- https://electronjs.org/blog/electron-3-0
- https://electronjs.org/blog/electron-4-0

[2018-12-28 19:31] etpinard commented on #109
Closing. @chazdm feel free to open a new issue if you're still having problem install orca with the latest installation instructions:

https://github.com/plotly/orca#installation

Thank you.

[2018-12-28 19:31] #109 closed

[2018-12-28 19:33] etpinard commented on #127
@Marcin-Tabaka was adding `--enable-webgl` (like @cpsievert proposed in  https://github.com/plotly/orca/issues/127#issuecomment-426847504) enough to solve your problems?

[2018-12-28 19:35] etpinard commented on #133
Tagging as `type: feature` here, but this would of course required some plotly.js work as well.

[2018-12-28 19:36] etpinard commented on #138
This appears to be a problem with the R wrapper. Closing (for now).

[2018-12-28 19:36] #138 closed

[2018-12-28 19:38] etpinard commented on #150
@WurtzJd did using `xvfb-run` like @jonmmease suggested solve your problem?

[2018-12-28 19:40] etpinard commented on #97
Probably a duplicate of https://github.com/plotly/orca/issues/127

@malmaud have you tried adding `--enable-webgl` flag?

[2018-12-28 19:43] etpinard commented on #104
Tagging as `type: bug`. We should do more research on how to pipe things into electron apps in OS X. If that's something that can't be done, we should at least update our README and `--help` docs accordingly.

[2018-12-29 16:18] etpinard opened #178 "Improve publish releases step"
The current checklist (found [here](https://github.com/plotly/orca/blob/master/CONTRIBUTING.md#checklist)) of:

- wait for CircleCI / Travis / AppVeyor electron-builder and conda builds
- download all the artifacts
- unload them to Github / conda

is a bit of a pain.

Here's my dumb attempt (with notes) from a few months back:

[code]

cc @antoinerg and https://github.com/plotly/orca/issues/173

[2019-01-02 19:59] #101 closed

[2019-01-03 15:06] etpinard opened #181 "orca graph can't parse very large JSON files"
From https://github.com/plotly/plotly.js/issues/3386

- download https://1drv.ms/u/s!AiKoo8nP3bRiaZALJrLSl4lM8I8
- run `orca graph heatmap.graph.json --debug`
- and get `export error 422 for heatmap - json parse error`

I suspect that we're hitting the Node `readFile` to-utf-8 limit here:

https://github.com/plotly/orca/blob/b2d65567515d1a0d5a874046f5e11afe770e6b78/src/app/runner/get-body.js#L39

[2019-01-08 08:03] kunshouout opened #182 "plotly cannot communicate with orca sometimes"
I am running plotly on windows server 2016. When i try to plotly.io.write_image(), sometimes it works, but sometimes i got error like this:

[code]

[2019-01-08 11:13] jonmmease commented on #182
Hi @kunshouout,

I wonder if you're running into something like https://github.com/plotly/orca/issues/164.  Before plotly.py 3.5.0 plotly.py would only wait for 8 seconds for orca to start up the first time. This was increased to 30 seconds in version 3.5.0 (See https://github.com/plotly/plotly.py/issues/1297).

[2019-01-08 14:31] TiemenSch opened #183 "Compatibility with Alpine (Docker)"
I'm having trouble getting orca to work on an Alpine Docker image.

I used frolvlad's glibc image to install miniconda: https://hub.docker.com/r/frolvlad/alpine-glibc/
and then installed orca using conda.

At first, it was missing some dependencies, but I got stuck after it told me to relink some of the ``.so`` files.

This may be the usual suspect where musl and glibc libraries end up in an unhap

[2019-01-08 19:18] antoinerg commented on #183
Hello @TiemenSch! Thank you for your interest in Orca.

Orca is an Electron application so it runs a Chromium browser. It goes without saying that it has a lot of dependencies because of this. Even by starting with Alpine, the resulting image will still be a few hundred megabytes at least. Anyway, could you share your Dockerfile so I can assist you? Finally, would you see value in us providing an

[2019-01-08 21:42] TiemenSch commented on #183
Hi @antoinerg!

For me the value would lie in case in a JupyterLab(Hub) deployment where the user's container is based on an Alpine Docker image and headless mode is required.

I could of course switch to an Ubuntu based image and try making it work that way, but would rather stick with Alpine.

In short, headless mode, but with Alpine for minimum size.

A good not too custom place to start would

[2019-01-09 13:40] TiemenSch commented on #183
OK, after a night's sleep I switched from Alpine to Ubuntu. Turns out my Docker image size was getting significantly larger anyways, which makes the ~50MB size difference no longer outweigh the ease of use you get with Ubuntu.

I would suggest to close this as any other better "headless" option than running an X-server has a good chance to fix this one, too.

[2019-01-09 19:34] nicolaskruchten opened #184 "Animated GIFs"
Would be great for figures with animation frames to be exportable as animated gifs, including tweened frames.

[2019-01-09 21:07] #183 closed

[2019-01-10 13:14] TiemenSch opened #185 "chromium vs google-chrome-stable"
I noticed that the install instructions include quite an elaborate method of installing ``google-chrome-stable`` by adding Google's repository (and keys) before installing.

Wouldn't it already be sufficient to just install ``chromium-browser`` from the Linux distro's default package manager?

I even experimented with installing the bare dependencies orca named in it's error messages, but suspect

[2019-01-10 17:31] antoinerg commented on #185
Are you referring to this instruction: https://github.com/plotly/orca/blob/master/README.md#linux-troubleshooting-cannot-open-shared-object ?

I think you are right that `chromium-browser` is sufficient and probably even more appropriate since that's what Electron uses.

[2019-01-10 23:01] etpinard commented on #97
Closing / merging with #127 due to lack of activity.

[2019-01-10 23:01] #97 closed

[2019-01-10 23:02] etpinard commented on #137
Closing due to lack of activity.

More info on orca + xvfb here -> https://github.com/plotly/orca#linux-troubleshooting-headless-server-configuration

@malmaud Feel free to open up a new issue if your problems persist.

[2019-01-10 23:02] #137 closed

[2019-01-11 23:26] antoinerg opened #187 "Add Docker in installation methods"
I think we should advertise our Docker images in the installation methods as Docker is getting more and more popular and *should* solve all the problems related to missing dependencies or misconfiguration.

[2019-01-14 14:32] etpinard commented on #187
Good idea! We could either upload a docker image for each of our releases alongside the mac/windows/linux executables:

![image](https://user-images.githubusercontent.com/6675409/51118711-0923d580-17df-11e9-9b89-423784383e96.png)

or just provide a link to quay,io (are those public links?) in the README.

cc https://github.com/plotly/orca/issues/178

[2019-01-15 02:49] austinbutler commented on #187
Having it available in the Docker Hub would be great. I saw the somewhat convoluted possible install options in the README and at first thought those were the only options. Then I noticed there's a Dockerfile in the deployment folder in this repo, but even then since it's not documented figured it wouldn't be good to rely on it.

[2019-01-15 09:34] fdrcslv opened #188 "scattermapbox to_image error"
Exporting a png of a scattermapbox chart using `plotly.io.to_image()` results in this error:
[code]
It is somewhat inconsistent, sometimes I can export 20 images at a time and then stops altogether. I should add that I'm using GeoJson layers in my map. When it succeeds the output looks like this
![download 4](https://user-images.githubusercontent.com/24731321/51171338-f2e64a00-18b0-11e9-8744-444b0

[2019-01-15 10:00] BeverlyGem opened #189 "Error '/usr/bin/orca' does not seem to be a valid plotly orca executable"
**New to plotly, I tried the code below and got the following error:**
[code]
**I got this error**
[code]
** I read previous issues on orca so I checked <$which orca> and <$ orca --help > and got the ff responses:**
`</usr/bin/orca>`
[code]
**What should I do? I want to save my plotly file without doing it manually in the browser.
Thanks.**

[2019-01-15 16:52] etpinard commented on #187
Good point by @antoinerg in https://github.com/plotly/orca/pull/190

where I'd say we _should_ add another Dockerfile!

[2019-01-15 16:56] antoinerg commented on #187
@austinbutler Is there something special about Docker Hub or would any other Docker registries fit your needs? We were thinking of using quay.io instead. You can pull from it the same way you pull from Docker Hub.

[2019-01-15 17:36] austinbutler commented on #187
Quay would be fine, too. But in terms of visibility Docker Hub is just where I default to when looking for images.

[2019-01-16 00:31] antoinerg commented on #188
@fdrcslv Thank you for your interest in Orca and for reporting this issue. Can you add the following command line argument `--verbose` and report the error message you're getting?

[2019-01-16 00:38] antoinerg commented on #159
@l0wsk1ll3d To further assist you, it would be useful to report the process' standard output and standard error you are getting when making your system call to Orca. It would provide us with more information on the error you're getting.

[2019-01-16 02:32] etpinard commented on #187
yes please.

sure.

[2019-01-16 03:37] BeverlyGem commented on #189
@antoinerg
I'm running this in a virtual machine with Ubuntu 16.04.
I installed node.js and npm then used
[code]

I initially tried to install anaconda for plotly but installation took so long so I didn't pursue it and instead  used the above steps.

[2019-01-16 11:31] fdrcslv commented on #188
done that!
 The output was this
[code]
Thanks you for your time!

[2019-01-16 16:58] antoinerg commented on #188
Oops my bad I didn't see that. It seems there is a problem rendering WebGL. Is WebGL working reliably on your machine (https://get.webgl.org/). Also, are you running this in a VM?

[2019-01-16 22:14] PedroRegisPOAR commented on #187
I would love to see Docker images to run this!

I have a question, @antoinerg I am not sure if I am in the right place, but as an user I would love to use full `plotly.py` functionalities, that includes `orca`, in an Docker image. Who may provide a way to do this? The [plotly.py](https://github.com/plotly/plotly.py) or the `orca` repository?

I guess that for most users, like me, would expect to h

[2019-01-24 06:13] skuzmier opened #193 "Scatter Box Map Plot Error 525"
When I try to save a map box scatter plot as a .png using pio.write_image(fig)
[code]
When I generate an interactive plot everything works fine and when I save the image manually it looks like this.

![image](https://user-images.githubusercontent.com/12565852/51658157-2726ce00-1f75-11e9-880f-b788dad7a08f.png)

The plot is created using the following function:
[code]
This issue may be related to is

[2019-01-24 14:24] etpinard commented on #193
Thanks for writing in!

1. Can you try exporting a `scattermapbox` graph with only a few data points to see if that works?
1. Can you share your `lon` and `lat` data array with us to help us debug? If not, could tell us how many data points you're trying to plot?

[2019-01-26 02:37] skuzmier commented on #193
Tham you for your prompt response and assistance with this awesome library. I was trying to plot ~2000 data points. I have tried reducing this to 10 data points and am still running into the same issue. When I export it as a JSON and the file looks like the following:

[code]

[2019-01-28 12:54] acesaif opened #194 "Why `plotly-orca` is unable to install via `pip`."
I just want to know, why is that `plotly-orca` not available in `PyPi`.

[2019-01-28 13:38] jonmmease commented on #194
Orca is a platform dependent command line executable (not a Python shared library like numpy for example) and when we were focused on packaging it we weren't able to find a clear approach to distribute this kind of executable using pip.

Orca is somewhat like graphviz (the executable, not the python wrapper) or git, both of which are distributed as conda packages but not as pip packages (as far as

[2019-01-28 16:17] etpinard commented on #193
Thanks very much for the report @skuzmier !

Turns out our logic was wrong for mapbox access tokens stored inside `layout.mapbox`. Things work ok when you pass the access token as a config option.

We'll have a fix for this out soon.

[2019-01-28 21:01] #193 closed

[2019-01-28 21:02] etpinard commented on #188
Potentially also fixed by https://github.com/plotly/orca/pull/195

[2019-01-28 22:45] etpinard commented on #106
Done in #179

![image](https://user-images.githubusercontent.com/6675409/51871502-7fb6ec00-2324-11e9-8372-3171358b0c9b.png)

`v1.2.0` is looking good on quay.io.

[2019-01-28 22:45] #106 closed

[2019-01-29 00:10] skuzmier commented on #193
This may be an obvious thing, but how do I pass it as a config option?
I appreciate you looking into this for me.

[2019-01-29 01:58] etpinard commented on #193
Looks like there's a way from the python api:

[code]

should do the trick.

More info here -> https://plot.ly/python/orca-management/

[2019-01-30 19:29] jkaplowitz opened #196 "Orca Dockerfile wastes time on broken keyservers"
Orca's current Dockerfile tries and fails to fetch each needed GPG key from the known broken keyservers `pgp.mit.edu` and `keyserver.pgp.com` before falling back to the reliable high-availability pool `ha.pool.sks-keyservers.net`. This causes Docker image builds to take far too long, and frequently makes the build jobs fail entirely.

We should remove the two broken keyservers from the Dockerfile.

[2019-01-30 20:24] #196 closed

[2019-01-31 11:39] jonmmease opened #199 "Localization support from plotly.py"
A good question came up in the community forum at https://community.plot.ly/t/orca-localization/18811:

Right now plotly.py doesn't make any attempt to pass along plot `config` options to orca.  Are these supported?  Could plotly.py put a config key in the figure object with a `local` string?  Does orca come bundled with all of the supported locals?

Thanks

[2019-01-31 12:47] kummerer94 commented on #199
Hi everyone,

I am the one with the question in the forum. I was curious about this since I stumbled on this issue yesterday trying to find a way to get the date strings to show in German.

Thanks

[2019-02-04 10:49] TiemenSch opened #202 "orca not found on path using conda install"
I just tried to install orca using the conda installation method on Windows 10 using Miniconda. Python version is 3.6.6 and the installed orca version is 1.2.0. E.g., I did:
``conda install -c plotly plotly-orca``

It installs fine, but does not put the executable on path nor in the Scripts folder of the environment. A quick search also reveals no executable file called orca (only some ``orca.py``

[2019-02-04 15:56] etpinard commented on #202
Should be fixed now for `orca@1.2.1`.

Would you mind giving:

[code]

another shot?

[2019-02-05 17:58] kummerer94 commented on #199
I am really not in the position to answer this as I am so far only a loyal user of the API of plotly.py. I think  @jonmmease would know best.

From my standpoint, for orca it would be most natural to pick up the config in the figure object. This is similar to the way it gets handled in other APIs (not only in Python, but I think also in R).

[2019-02-05 22:14] josephcarmack opened #203 "Installation Error: conda channel does not have noarch directory"
I just tried to install plotly-orca using the recommended conda installation method `conda install -c plotly plotly-orca` and get the following error:

Solving environment: failed

CondaHTTPError: HTTP 403 AUPDOWNLOADPNS for url <https://conda.anaconda.org/plotly/noarch/repodata.json>
Elapsed: 00:00.253400

The remote server could not find the noarch directory for the
requested channel with url: h

[2019-02-06 11:07] jonmmease commented on #199
Hmm, are there any other `config` options that orca should know about?  We've already turned the mathjax and topojson options into command line args, so maybe it makes sense to do the same for locales.

@kummerer94, one implication of making locale a command line argument would be that a user could optionally set a default locale to apply to all figures on export (https://plot.ly/python/orca-manag

[2019-02-06 16:21] etpinard commented on #199
I can't think of any.

Yeah, that sounds about right :ok_hand:

[2019-02-06 17:46] antoinerg commented on #203
Thank you @josephcarmack for your interest in plotly.js. I am having trouble reproducing your issue and could install `plotly-orca` using Conda 4.3:
[code]
Maybe something is wrong with your conda configuration or your network?

[2019-02-07 14:57] TiemenSch commented on #202
Done. It works!

[2019-02-07 15:26] #202 closed

[2019-02-07 15:47] josephcarmack commented on #203
@antoinerg Thanks for the feedback. I will dig in a littler deeper to the conda environment and connection to see if I can isolate the problem better and report back what I find.

[2019-02-07 16:24] skuzmier commented on #193
I have upgraded to the latest version of orca 1.2.1 and still, and it appears the issue may be deeper than the mapbox token problem.
[code]

[2019-02-07 16:30] etpinard commented on #193
A few things to read / try:

- https://github.com/plotly/orca#linux-troubleshooting-cannot-open-shared-object
- https://github.com/plotly/orca#linux-troubleshooting-headless-server-configuration
- https://github.com/plotly/orca/issues/127#issuecomment-426847504

[2019-02-07 20:05] skuzmier commented on #193
I appreciate you sending over those links. I tried the first two last night and have tried again today.

I can replicate and resolve the issue referenced in
* https://github.com/plotly/orca#linux-troubleshooting-cannot-open-shared-object
by not having Xvfb or X11 working, and correctly resolve it.

I am able to successfully run both of the tests described in the quickstart section for troubleshoot

[2019-02-07 22:10] WurtzJd commented on #150
@jonmmease ,
I struggle to understand how to use the shell script and where to put it.
The docker config you sent is a bit complex and I don't see which part I should use.

@antoinerg, it would be very useful to have a simple docker image indeed

[2019-02-08 07:54] kummerer94 commented on #199
I think the command line argument makes sense given that we already have this configuration in plotly. I think as a user I would search here first (and I actually did) and then look for the ability to pass on the config like I would to with the `iplot` or `plot` functions.

I think that would be great as we would have the option to adjust certain localization features if we wished.

[2019-02-08 11:29] WurtzJd commented on #150
I also fail to use plotly orca outside docker when ssh into another machine. pio.write_image returns:

I just tried to start install conda again from the Git Readme:
1) download orca-1.2.1-x86_64.AppImage
2) chmod +x orca-1.2.1-x86_64.AppImage
3) ln -s /home/me/orca-1.2.1-x86_64.AppImage /home/me/.pyenv/shims/orca

Now when I try orca --help I get
`/home/me/.pyenv/shims/orca: 1: /home/me/.pyenv/sh

[2019-02-11 14:43] gpernelle commented on #187
Are there already some documents that could help build a docker image than runs python plotly and orca?
Or a docker image already built?

[2019-02-11 19:23] antoinerg opened #204 "Send plotly.js version in HTTP header"
It might be useful to know which version of plotly.js is used by a given Orca server. This information could be passed as an HTTP header.

[2019-02-12 12:11] CarlAndersson opened #205 "Vector format size"
Exporting figures (from python) using the vector formats gives some (to me) strange behaviour regards to size of the resulting image.

When I set the figure width to 330 and export as pdf the resulting figure (in Latex) is roughly 8.6 cm wide.
Exporting the same figure in a raster format 250 px wide I also get a figure of ~8.6 cm.

If I insect the pdf with finder on mac os it reports 251 px wide.

[2019-02-12 14:27] etpinard commented on #205
Could share the commend you're using to help us debug?

I suspect this is related to https://github.com/plotly/orca/issues/12

[2019-02-13 15:50] ptocca commented on #182
I am experiencing the same issue with Plotly 3.6.0 in a Jupyter Notebook on Linux.
ps reveals that the orca process is <defunct>.
I suppose its parent process should be waiting on it, but it seems this is not the case.
Its parent is:
python -m ipykernel_launcher -f /run/user/1001/etc. etc.

Note that it is possible to work around the issue (without shutting down and restarting the affected Jupyter

[2019-02-14 17:45] scjody opened #209 "Intermittent Orca build failure due to --recv-keys failure"
https://github.com/plotly/orca/pull/197 attempted to fix the Docker build run by CI (`docker-build-and-push` step) but the build still fails frequently (>75% of the time) with:

[code]

When it fails it generally fails on the key shown above (the first one we attempt to retrieve), but I've seen it fail on other keys about 10% of the time.

@plotly/devops @antoinerg @etpinard FYI

[2019-02-14 19:56] antoinerg commented on #209
The only reason we're downloading those keys is to install `nodejs`. Maybe we could simply start with a Docker image already containing `nodejs`.

@plotly/devops Is it mandatory to base our image from `ubuntu:xenial`?

[2019-02-14 20:27] scjody commented on #209
@antoinerg It's not mandatory. The big reason to use Ubuntu is that it's what the team has the most familiarity with, but there are many [official node images](https://hub.docker.com/_/node/) based on Debian, which is pretty close.

I'd be concerned about fonts being different / not existing with Debian, but that's easy enough to tes for.

[2019-02-14 20:31] jkaplowitz commented on #209
@scjody I'm at least pretty familiar with Debian from my non-Plotly life, so I can help if needed ... but the vast majority of font packages in Ubuntu, like 99% of the rest of Ubuntu, come from Debian. Like you, I'm not very worried.

[2019-02-14 20:39] antoinerg commented on #209
Maybe we could start from `ubuntu:bionic` (Ubuntu LTS 18.04) and do `apt-get install nodejs`. We would then end up with `nodejs v8.10.0`.

[2019-02-14 20:41] scjody commented on #209
We're on 6.11.3 now, so that's a big change, but if you want to go for it that's fine with me.

[2019-02-14 23:27] scjody commented on #187
I just became aware of this issue. 👋

https://quay.io/repository/plotly/image-exporter?tab=info is a public Quay repo that holds Orca images for every successful CircleCI `test-and-push` (one is attempted on every push to this GitHub repo). This is, and was always intended to be public.

We should probably rename the repo to avoid confusion (this project wasn't _always_ called "orca"), but other t

[2019-02-19 15:07] jonmmease commented on #140
Cross reference forum discussion https://community.plot.ly/t/plotly-orca-connectionrefusederror/19723

I can confirm that on my ubuntu system the permission of the `/tmp/orca-build` directory are set to `drwxrwxr-x`, which I expect would cause a problem if there were another user on the system.

[2019-02-20 10:47] fdrcslv commented on #188
@etpinard @antoinerg Thank you very much for your work!
 I'll try v 1.2.1 both on windows and linux and see if it works so you can close this issue

[2019-02-21 10:15] 0navarro opened #211 "I get "Error in processx::run: System command error" when using orca inside Docker"
I am using orca inside a downloadHandler function in an R-Shiny app inside Docker. When I click on the download button to generate and dowonload a plot I get disconnected from the session. Moreover, on the log file I get:
_Warning: Error in processx::run: System command error_

I am using xvfb-run to run orca with a script like this:
`xvfb-run -a /squashfs-root/app/orca "$@"`

Here is a minimal ex

[2019-02-21 16:52] #209 closed

[2019-02-21 21:55] etpinard commented on #211
https://github.com/ropensci/plotly/issues/1437#issuecomment-450675463

might help you and us debug.

[2019-02-22 10:40] jonmmease commented on #140
Modification of `src/util/create-index.js` that worked for [`claudia`](https://community.plot.ly/u/claudia)

[code]

In addition to adjusting the permissions, they are explicitly deleting the temp files.  If orca is not already cleaning up these files on exit, then we should take a look at that also.

[2019-02-25 03:43] ddejohn opened #213 "ORCA/plotlyJS seems to be causing issues with MathJax in Jupyter notebooks (using Julia language)"
I'm not sure if this is due to an issue with Orca or PlotlyJS, but one of the two is causing LaTeX to not display properly.

The problem occurs in both block equations (inside `$$`) and in `align` environments as well.

Here is an example of a notebook *not* using Orca or PlotlyJS:

![image](https://user-images.githubusercontent.com/35853209/53312842-ec65cd80-3873-11e9-8f62-5a1931441266.png)

And

[2019-02-25 21:37] jcusick13 commented on #188
Hey @etpinard and @antoinerg!

I'm running into the same issue as OP where using `plotly.io.write_image()` to save a Scattermapbox as a `.png` results in
[code]
I'm using
* `Mac OSX 10.14.2`
* `plotly 3.4.2`
* `orca 1.2.1` (was using `v1.1.1` but upgraded because of the above comment; same error on both versions)

The above are on my local machine (not VM) and I checked that WebGL is working prope

[2019-02-26 12:59] 0navarro commented on #211
Hi etpinard, thanks for the reply.

When I run system("which orca") in the R terminal inside Docker I get:

`/usr/bin/orca`

When I run system("orca") I get:

[code]
I added the flag `debug=TRUE` to my R-shiny app like this:

`withr::with_dir(download_path, orca(p, path_split[length(path_split)], debug=TRUE) )`

But I get the same error message in the log file as before:

[code]

So I am guessing

[2019-02-26 13:17] 0navarro commented on #211
Moreover, after running the example with orca() in the R terminal inside Docker using the debug flag, I get a message like this:

[code]
I hope this helps clarify the issue.

[2019-02-26 13:37] etpinard commented on #211
Thanks for all the info @0navarro !

Running orca with `xvfb` should be enough to solve the `gpu process crashed` issues:

https://github.com/plotly/orca#linux-troubleshooting-headless-server-configuration

[2019-02-26 13:38] etpinard commented on #213
Hi @ddejohn could you tell us where you took those screenshots from?

Are they from a Jupyter Notebook, a plain web page, or something else?

Thanks.

[2019-02-26 14:06] 0navarro commented on #211
I am already running orca with `xvfb`, using a shell script that runs the extracted orca AppImage. So, when I run  `cat /usr/bin/orca` I get:

`xvfb-run -a /squashfs-root/app/orca "$@"`

[2019-02-26 14:40] etpinard commented on #211
Ok. Have you tried to export a graph using orca in your docker container outside the R interface?

[2019-02-26 14:52] 0navarro commented on #211
I just ran an example. When I run:
`orca graph '{ "data": [{"y": [1,2,1]}] }' -o fig.png --debug=T`

I get:
[code]

[2019-02-26 15:18] ddejohn commented on #213
@etpinard sorry, yes those screenshots were taken inside a Jupyter notebook,

[2019-02-26 15:21] etpinard commented on #213
Ok great. Could you share that notebook with us to help us debug?

[2019-02-26 15:49] ddejohn commented on #213
https://github.com/ddejohn/jupyter/blob/master/PHY%204611/Project_2.ipynb

[2019-02-27 19:16] joergkiesewetter commented on #182
same problem for me on windows 10. Sometimes it works but sometimes not. Starting a new Server seems to help sometimes, but not everytime.

for windows 10 it's:

* opening console
* start a server with:
[code]

[2019-03-01 09:40] scottwilson312 commented on #164
I'm experiencing this issue as well - however increasing the timeout isn't helping. I have this installed with on Ubuntu server 16.06.

I can however create a png file from the command line without a problem.

Any idea how I can troubleshoot? Thanks

[2019-03-02 00:15] dlbaker21 commented on #203
On a previous computer I used the command pip install -U pyvisa, but it was single user.  I am attempting to use this same command with a multi-user install on Anaconda and this is the error I get.  I have been able to execute the mkdir command and the echo command, but am unable to execute the bzip2 command.  I have worked on this for 6 hours and am pretty frustrated.  I did attempt using the con

[2019-03-02 00:18] dlbaker21 opened #215 "multi user install does not allow the command pip install -U pyvisa"

[2019-03-02 00:22] dlbaker21 commented on #215
On a previous computer I used the command pip install -U pyvisa, but it was single user. I am attempting to use this same command with a multi-user install on Anaconda and this is the error I get. I have been able to execute the mkdir command and the echo command, but am unable to execute the bzip2 command. I did attempt using the conda install -c anaconda bzip2 command, but then I get the error f

[2019-03-02 00:35] dlbaker21 commented on #215
Answer to #215. In a multi-user install of Anaconda, you must use the (pip install -U pyvisa) command from the C:\ProgramData\Anaconda3\Scripts directory and NOT from the C:\Users\Username\ directory where the Anaconda Prompt directs  a user initially.  The following shows the pip command working.

8(base) C:\ProgramData\Anaconda3>python
Python 3.7.1 (default, Dec 10 2018, 22:54:23) [MSC v.1915 64

[2019-03-06 13:59] kunshouout commented on #182
upgrading to  3.5.0 solved the issue

[2019-03-06 15:03] #182 closed

[2019-03-07 09:51] CarlAndersson commented on #205
Hi again,
Sorry for the delay, I had to finish my paper...

Here's a MWE in python showing the issue with pdf vs. jpeg.
[code]
and some tex code
[code]

Compiling gives me a pdf like this one, where the size difference is obvious.
[plotly_orca_mwe.pdf](https://github.com/plotly/orca/files/2940534/plotly_orca_mwe.pdf)

[2019-03-08 22:18] antoinerg commented on #187
I agree

As of right now, our Docker images `quay.io/plotly/image-exporter:master` have an entrypoing that starts an Orca server that can be queried by a simple HTTP API. That's very cool and we should advertise that this feature is available today.

However, I think we should also support running Orca as a command-line tool as it does in a normal desktop installation. For example, a user should b

[2019-03-19 14:20] flow4u opened #216 "Orca install instructions for Google Colaboratory"
I very much like to automate the saving of Plotly images to a Google Drive folder.

As I understand Orca would be the way to go. However, I fail to understand the instructions provided to get Orca installed in a Google Colaboratory notebook.

Could you please update the instructions?

[2019-03-20 20:05] antoinerg opened #217 "Clean up metadata in EMF files"
It would be nice to clean up the metadata added by Inkscape when converting SVG to EMF.

[2019-03-20 20:09] antoinerg opened #218 "EMF - problems with colorscale"
A user reported that the color scale doesn't render properly in an EMF file produced by Orca:
![fig emf](https://user-images.githubusercontent.com/301546/54715661-52b7d600-4b2a-11e9-9fca-68a35515b365.png)

More details about how this result was obtained will follow.

[2019-03-20 23:35] antoinerg commented on #218
The issue lies with the specific build of Inkscape that is packaged in our Docker container.

Back when we merged https://github.com/plotly/orca/pull/152, building our `Dockerfile` would install Inkscape `0.92.3` which was tested to work properly.
https://github.com/plotly/orca/blob/a2ce478735857ca6bcc03ebc798de017e87628bb/deployment/Dockerfile#L112-L118
Today, building the same `Dockerfile` insta

[2019-03-21 13:21] etpinard commented on #218
That sounds like the simplest and most effective thing to do to start :ok_hand:

[2019-03-21 13:22] etpinard commented on #218
I think we talked about this before, but another way to do this would be to move the SVG -> EMF conversion code in plotly.js so that `Plotly.toImage(gd, {format: 'emf'})` would do the right thing almost. That should make things much easier to tests.

[2019-03-21 22:02] antoinerg commented on #218
It turns out I misidentified the issue at hand. Running the exact same Inkscape build in a Docker container (or a virtual machine for that matter) yields a different result than on my machine. I suspect Inkscape, or one of its dependencies, is making a system call that gives a different result depending on the hardware (probably the graphics cards?) it is running on.

I guess we shouldn't be surpr

[2019-03-21 22:12] antoinerg commented on #218
I made a gist containing a cleaned up SVG ready for EMF conversion to showcase the problem.

To test the conversion routine, install Inkscape `0.92.3` or newer then:
[code]
Then look at the color bar in the resulting PNG file.

On my host machine I get:
![test emf](https://user-images.githubusercontent.com/301546/54788178-849d6b00-4c04-11e9-9ee6-20106e684c87.png)

On a guest machine (be it a Docke

[2019-03-22 20:46] archmoj commented on #218
@antoinerg On Ubuntu 18.04.2 LTS with Inkscape 0.92.3 (2405546, 2018-03-11) I've got this:

![clean svg emf](https://user-images.githubusercontent.com/33888540/54851927-c3452b00-4cc1-11e9-8064-b20685a5b1ea.png)

[2019-03-22 21:25] archmoj commented on #218
@antoinerg On Windows 7 with Inkscape 0.92.3, this is produced.
![clean svg emf](https://user-images.githubusercontent.com/33888540/54853838-62205600-4cc7-11e9-9fbd-0219e17009ea.png)

[2019-03-22 21:43] antoinerg commented on #218
@archmoj Thank you for reporting this. I think I found the issue!

[2019-03-22 22:16] antoinerg commented on #218
The reason why it was working on my machine is that I manually set sane preferences via the GUI a while ago. There a bunch of flags to fix rendering bugs of Inkscape's EMF output in Powerpoint.

See the `FixPPT*` options below:
[code]

I will submit a PR in which we copy those preferences over to the Docker image we build.

[2019-03-23 22:57] scottwilson312 commented on #150
Trying to get orca installed on an ubuntu docker image is a nightmare! Has anyone been able to do it?

[2019-03-23 22:58] scottwilson312 opened #219 "running orca doesn't do anything"
[code]

I'm not familiar enough with node to know what's up. This is inside an Ubuntu docker. The script isn't erroring out, but it isn't producing any output.

[2019-03-25 16:14] antoinerg commented on #219
Within a Docker container, one needs to run `xvfb`

I am working on releasing an official Docker image for Orca. Stay tune, it is coming very soon!

[2019-03-25 16:46] antoinerg commented on #219
@scottwilson312 I went ahead and changed the title of the issue. I agree that the current behavior is not user-friendly at all... In the absence of a display, an error should be displayed to the user.

Thanks for reporting this!

[2019-03-26 07:02] scottwilson312 commented on #219
Thanks for the response. I ended up getting it working with xvfb, however I needed to run the docker container as privileged.

[2019-03-27 04:14] cedricyau commented on #187
@antoinerg Thanks for uploading the `antoinerg/orca-reproducible` Docker Image to DockerHub.  By any chance, have you published the DockerFile anywhere?  I found it really useful to get around all my Ubuntu Server installation issues and would like to see if I could use it load JSON and publish images to S3 with AWS Batch.

[2019-03-27 04:35] antoinerg commented on #187
Thank you @cedricyau for your interest in plotly!

Not yet, sorry!

Great to hear this! The plan is to have an official Docker image for Orca very soon! (WIP in branch [docker-release](https://github.com/plotly/orca/tree/docker-release))

I am not familiar with AWS Batch. Do you need to run Orca as command-line tool or can you run it as a HTTP API server?

[2019-03-27 04:52] cedricyau commented on #187
I would need to run `orca` as a command-line tool.  My goal is to have this run serverless.  So we can leave the system "off" most of the time and only run it when we need it.

[2019-03-27 16:59] antoinerg commented on #187
@cedricyau I opened a PR https://github.com/plotly/orca/pull/222 which may be of interest to you.

Please note that `antoinerg/orca-reproducible` was meant to achieve reproducible output from machine to machine down to every pixel. This is not something most people care about since the differences can be tiny. The downside is that it uses a software implementation of OpenGL to achieve this and it

[2019-03-28 15:25] Zamalkawwy opened #223 "525: plotly.js error"
Running my python script in a Dockerfile is giving me this error.

[code]

My script runs fine on my local machine so I don't believe it's my code. Yet replacing my code `pio.write_image(fig, '/images/fig1.png',width=995, height=249)` with this `pio.write_image(go.Figure(data=[{'y': [1, 3, 2]}]), 'simple_fig.png')`
produces a file.

My Dockerfile looks like this:
[code]

I have yet to find a worki

[2019-03-28 15:39] antoinerg commented on #211
@0navarro It seems like the command ran successfully: `done with code 0 in 758.36 ms - all task(s) completed`. Do you still have an issue?

[2019-03-29 09:27] 0navarro commented on #211
Hi antoinerg, thank you for your reply.

Unfortunately, I still have the issue. While the command above ran successfully, when I try to use orca _within_ my shiny app within Docker, I get the error mentioned in my post.

When I run orca within Docker either with the R interface or with the terminal, it works fine. However, I get the error when I try to use orca within Docker within my shiny app.

[2019-03-29 18:57] #218 closed

[2019-04-01 22:49] scjody commented on #218
@antoinerg The example "Choropleth" trace in Chart Studio uses a colourscale. Is verifying that this works in EMF sufficient to test this issue?

[2019-04-02 01:57] antoinerg commented on #218
@scjody yes it should!

[2019-04-02 19:15] mgfasel-unige opened #224 "R: Latin1 encoding errors when exporting with orca"
Hi,

Thanks, I use the R plotly library.

Here is an example:

[code]

The plotly'IMAGE command results in:
![Ex01a](https://user-images.githubusercontent.com/48024091/55423637-9d037300-557e-11e9-945b-24d0e2c2ba23.png)

While the orca command results in (note the á in the Pará label):
![Ex01b](https://user-images.githubusercontent.com/48024091/55423660-a5f44480-557e-11e9-86f2-5077dbc6fecf.png)

[2019-04-04 16:08] davidolmo commented on #194
if anyone finds a way to include orca in a Heroku/Google App Engine/AWS Beanstalk with dash/flask as webservers, please share. As it can't be installed through pip (using requirements.txt) I couldn't find a way to use it on those engines

[2019-04-07 01:07] ahsv commented on #148
I'm having the same issue - on Centos 7 as a non-root user, using the 1.2.1 AppImage,  attempting to use Computer modern for my fonts.  Computer modern renders correctly in a plotly plot in a Jupyter notebook but the orca output defaults to a different font.

Is there a way to let orca see the fonts in `~/.fonts`?  Or any other way to give orca some new fonts to work with when you are a non-root u

[2019-04-08 15:45] antoinerg commented on #148
@ahsv at the moment, I don't think Orca provides a way to specify new fonts from the command-line. We could add support for this if Electron (which is what Orca is built upon) allows us to do so. I was under the impression that Chromium, which is used by Electron, would automatically load the fonts in `~/.fonts/` but I would have to test it to make sure. To be continued...

[2019-04-09 05:19] ahsv commented on #148
Thanks for the tip (and motivation to keep trying to see if orca will find `~/.fonts/`)!

I was originally running Orca as part of a job that I had submitted (so it wasn't running on a node that I had any direct access to).  If I run Orca from a login node (the node that we `ssh` into), then Orca finds `./fonts/` perfectly!  So I can just run a light script from the login node (this is allowed in

[2019-04-09 07:15] SURE18 commented on #182
I am getting the same error even I am having python 3.7.0 version. Could you please help me with this?

[2019-04-10 16:06] antoinerg commented on #204
As pointed out by @etpinard, anything built off of plotly.js' `master` branch will have the same version number (ie. the one from the latest release). We should probably append the cryptographic hash of the library to its version number to be completely unambiguous.

[2019-04-10 18:47] antoinerg opened #226 "Add support for HTTP "Content negotiation""
I think it would be nice to support [content-negotiation](https://en.wikipedia.org/wiki/Content_negotiation) so a client can specify which format he wants via HTTP header `Accept` without having to modify the payload:
[code]

[2019-04-10 20:38] etpinard commented on #204
@antoinerg here's how we currently do things:

[`update_version.js`](https://github.com/plotly/plotly.js/blob/master/tasks/util/update_version.js) gets called during [`npm run preprocess`](https://github.com/plotly/plotly.js/blob/master/tasks/preprocess.js) which get called during [`npm run build`](https://github.com/plotly/plotly.js/blob/b6a5298e0c3b284d9caf4e83d019154b634f9d5e/package.json#L29)

[2019-04-12 09:09] ha5dzs opened #227 "Orca requires a Mapbox API token for .png file generation"
Hi,

Using Mac (Mojave 10.14.4), RStudio (1.2.1335), Plotly (4.8.0)

I am trying to create a png from a 'histogram' and 'histogram2d'  plotly object. I found that it only works if I have a Mapbox token. It doesn't matter if I install Orca using npm or manually.

Is this normal?

[2019-04-12 13:10] etpinard commented on #227
You should only need to set a mapbox access token to export mapbox graphs.

This must be a problem with the R api. I suggest filling an issue over on https://github.com/ropensci/plotly

Thank you!

[2019-04-12 14:00] mathieuboudreau commented on #150
@scottwilson312  I've been on two sprints to try and do this in a docker image from Jupyter for use in a MyBinder session, and share your frustration.

Dockerfile for repo: https://github.com/electropy/notebooks/blob/orca/Dockerfile
MyBinder link: https://mybinder.org/v2/gh/electropy/notebooks/orca?urlpath=lab

At this point, I'm getting two issues.

In a terminal:

[code]

And trying to use it in

[2019-04-12 14:02] mathieuboudreau commented on #150
I've tried other variants of installations (e.g. from conda), but they didn't work because MyBinder sessions are headless, I think.

[2019-04-12 14:37] ha5dzs commented on #227
Okay, thanks!

[2019-04-12 14:37] #227 closed

[2019-04-12 14:40] scottwilson312 commented on #150
To solve the Fuse error to try running docker as privileged

On Fri, Apr 12, 2019, 7:02 AM Mathieu Boudreau <notifications@github.com>
wrote:

[2019-04-12 14:54] mathieuboudreau commented on #150
Unfortunately, I don't think I have control over that as the MyBinder service is what's running the docker image after it's built; I don't set the commands myself. Thanks though!

[2019-04-15 10:09] jonmmease commented on #150
Hi @mathieuboudreau,

From your error messages, it looks like core issue is that your docker container is unable to use fuse to mount the AppImage.  The AppImage format is really an archive containing a potentially complex file structure of the program and all the dependencies. When you run an AppImage, the image file is automatically [mounted using fuse](https://github.com/AppImage/AppImageKit/wi

[2019-04-15 13:47] mathieuboudreau commented on #150
Thanks for that tip @jonmmease !

Unfortunately, now I get a `[Return code: 1]`. I think at the end of the day, MyBinder's BinderHub settings don't allow for extending the docker image permissions to `--privileged` that are needed to run the orca server, so that might be the final wall that I can't jump. I'll just have to stick with a local setup, which isn't the end of the world, it just would ha

[2019-04-15 17:58] jonmmease commented on #150
When you run `$ orca --help` from the command line inside you're container you're getting `[Return code: 1]`?  It's not clear to be what (besides potentially FUSE) would be requiring privileged permissions. 🤔

[2019-04-15 18:16] mathieuboudreau commented on #150
[code]

I tried to `RUN chmod 777  /home/squashfs-root/app/orca` in my docker file [here](https://github.com/electropy/notebooks/blob/109b2a7c4169b3d53ed04a62c41cdb1d62f1b921/Dockerfile#L70), but it still throws the same error as above with it.

[2019-04-16 00:08] jonmmease commented on #150
Over in https://github.com/plotly/plotly.py/pull/1523 I started working on an update to plotly.py to automatically detect whether it should try to use Xvfb when calling orca.  Basically, if we're on Linux, there's no X11 server active (based on the lack of a `DISPLAY` environment variable), and `xvfb-run` is on the path then use xvfb automatically.

With this branch, I was able to get the orca con

[2019-04-16 00:14] jonmmease commented on #150
And one idea with your current approach. I opened up the binder link and opened a terminal and ran:

[code]

Based on this, it looks like the permissions you set on the AppImage file were set properly.  I think the problem here might be that the top-level squashfs-root directory is still locked down to `root` even though you opened up permissions on the orca executable inside with `chmod 777 /home

[2019-04-16 02:16] mathieuboudreau commented on #150
AMAZING! It finally works! Thanks so much @jonmmease !!

I needed one more apt-get install for it to work using my base notebook (`libxss1`), but now it works perfectly; I can export static plotly images using orca in a MyBinder session.

I stripped my notebook to the bare essentials (more or less), and uploaded it in a separate repo along with an example notebook from Plotly's own "Static image e

[2019-04-16 10:03] jonmmease commented on #150
That's great @mathieuboudreau, and thanks for making that repo to help other folks work through this in the future!

[2019-04-16 14:47] Diniodoc commented on #211
Hi,
I ran into a similar problem. In my case there was a problem with the input-filename in the orca function.
The error occurs when you try to save the outputfile into a path which not exists. If there is a path in the filename, orca try to write into that, relatively to the current working directory.

 I don't know your setup but are you sure that `path_split[length(path_split)] ` is just the fi

[2019-04-16 15:21] WurtzJd commented on #150
Awesome!
What would you suggest to make Orca work with python in a ubuntu docker image?

[2019-04-16 15:25] mathieuboudreau commented on #150
The base docker image that my dockerfile pulls installs Ubuntu (see here: https://hub.docker.com/r/jupyter/base-notebook/dockerfile), so maybe try what I did?

[2019-04-16 16:11] WurtzJd commented on #150
When I run the image, Jupyter is launched automatically, any way to stop this from happening?
I tried to start the docker image with "FROM ubuntu:18.04" instead of Jupyter but then I run into errors

[2019-04-16 16:36] mathieuboudreau commented on #150
@WurtzJd I've only ever used Dockerfiles with MyBinder, which open Jupyter.

You probable are missing a lot of the additional settings needed (see here: https://hub.docker.com/r/jupyter/base-notebook/dockerfile)

What you could maybe do is instead copy the jupyter base notebook file:

https://hub.docker.com/r/jupyter/base-notebook/dockerfile

Remove the "Configure container startup" lines from it:

[2019-04-16 16:57] WurtzJd commented on #150
I followed your tips, but instead I just added the line "CMD ["bash"]" at the end of your dockerfile, and it works like a charm.

Running Orca in docker is going to be so useful, many many thanks for working out and sharing the solution!

[2019-04-17 19:17] #226 closed

[2019-04-20 01:41] rhodotherm opened #229 "Assertion bug"
I use orca to export plot_ly graphs to svg from RStudio. This assertion problem keeps appearing (thus orca failing):
This is what I get from the RStudio console:

Error: The orca command-line utility is required for this functionality.

Please follow the installation instructions here -- https://github.com/plotly/orca#installation

But although I followed all the installation steps, this is what I

[2019-04-20 12:09] rhodotherm commented on #229
Hello, the problem was fixed following instruction on issue #120.
https://github.com/plotly/orca/issues/120#issuecomment-424000634
Had to edit R's path to environment variable. In my case:

Sorry for the inconveniences
Raul

[2019-04-22 10:35] jonmmease commented on #205
Looking at...

https://github.com/plotly/orca/blob/4b2310dc7a82f13434e082934dbf3ef69b1e7cb5/src/component/plotly-graph/render.js#L128-L152

and with some experimentation, I found a formula for exporting to an exact size in inches.

[code]
[testfig.pdf](https://github.com/plotly/orca/files/3103034/testfig.pdf)

One oddity is that when I export figure where the height exceeds the width (i.e. portrai

[2019-04-25 15:04] Diniodoc commented on #224
Same problem with the EUR-Symbol €.

[2019-04-26 14:10] wouterdb commented on #194
it would be nice if some standard method of installation for platform dependent components like rpm/deb packages was supported.

context: I want to save an image to disk, which I expect to be simple.

Current install methods are giving me problems:
1- currently using pip to manage dependencies not conda, not planning to learn conda, not planning to move the entire project to conda to save an image

[2019-04-26 15:09] antoinerg commented on #194
@wouterdb By curiosity, do you have Docker installed? If so, you could use our Docker image (see PR https://github.com/plotly/orca/pull/222).

[2019-04-26 16:06] #229 closed

[2019-04-26 17:28] wouterdb commented on #194
For security reasons, it would not be possible to start a docker container
from within the docker container in which plotly is running
Externally starting a docker container just for orca seems to much of a
complication for the task at hand.

On Fri, Apr 26, 2019 at 5:09 PM Antoine Roy-Gobeil <notifications@github.com>
wrote:

--
Wouter De Borger, PhD
Co-founder Inmanta
www.inmanta.com
Email: wout

[2019-04-26 17:42] antoinerg commented on #194
@wouterdb I don't know if it's helpful but Orca can be run in server mode which exposes a simple HTTP API. If it's reachable within your network, you can then use it to produce images in several formats via simple HTTP POST calls. When possible, this is, in my opinion, the simplest and nicest solution. You can start a server listening on host's port 9091 with a simple: `docker run --net=host -it q

[2019-04-26 17:46] antoinerg commented on #194
@wouterdb can you please tell us how it fails?

[2019-04-27 01:39] antoinerg opened #230 "Present a landing page when running in server mode"
Once PR https://github.com/plotly/orca/pull/222 is merged in, it will be as easy as running `docker run -it --net=host quay.io/plotly/orca` to start a server instance of Orca on any host running Docker.

I am thinking we should have something like this on `HTTP GET /`:
![Screenshot_2019-04-26_21-09-19](https://user-images.githubusercontent.com/301546/56843086-96f56f00-686a-11e9-9c95-1d22d03b7474.p

[2019-04-30 13:05] wouterdb commented on #194
![image](https://user-images.githubusercontent.com/1788254/56963344-fac4b400-6b58-11e9-8887-55f9238fa315.png)
(I'm trying to get the log as well, but I don't have access to the system directly)

[2019-04-30 13:43] wouterdb commented on #194
[2019-04-29T11_55_35_099Z-debug.log](https://github.com/plotly/orca/files/3131465/2019-04-29T11_55_35_099Z-debug.log)

(there is a permission error, but command is run with sudo)

[2019-04-30 14:38] antoinerg commented on #194
@wouterdb It seems like you have a permission error when installing `electron`. I'm not sure the problem lies with Orca itself. Can you try to manually create directory `/usr/lib/node_modules/electron/.electron` ?

[2019-05-08 22:14] rajuah opened #231 "Writing contour plots to SVG takes 20 odd seconds"
I am trying to use plotly (offline mode) in python along with orca to export contour plots to SVG.
Given below is the function I use to create contour plots and export it to SVG
[code]
It takes roughly 20s to create an SVG every single time. Is this expected behavior?

I though maybe file IO part of the write command is causing that delay so instead of the `write_image`, I used the `to_image` to g

[2019-05-09 13:43] etpinard commented on #231
Thanks for writing in. Can you share the x,y,z data you're trying to export to help us debug?

[2019-05-09 17:39] rajuah commented on #231
Thanks for the quick reply. I did some further digging into my issue. I work behind an enterprise firewall and I suspected that gating/slowing down the orca server somehow. So I tested the same script with same data on a Mac and Win PC outside of the enterprise network and was able to always get plotly+orca to export static images in under 0.3sec.
So at this point I think orca + plotly are not to

[2019-05-09 17:39] #231 closed

[2019-05-09 17:47] etpinard commented on #231
Thanks for the kind words!

[2019-05-10 17:25] antoinerg commented on #133
This feature could be really useful to simplify testing the correctness of SVGs. In PR https://github.com/plotly/orca/pull/222, we have to resort to rendering SVGs to images in order to compare them to our baselines. This rendering step could possibly be skipped altogether.

[2019-05-19 15:12] afrachioni commented on #211
Hello!  I'm having a similar issue on a headless Ubuntu machine where I'm trying to set up orca to make plotly figures offline:

    xvfb-run -a orca graph --verbose test_fig.json
    Fontconfig warning: "/etc/fonts/fonts.conf", line 100: unknown element "blank"
    gpu process crashed - false
              Chrome version 73.0.3683.121
              Electron version 5.0.1

The process just hangs t

[2019-05-21 12:37] 0navarro commented on #211
Hello, I finally figured it out.

The problem was that the default user that runs the shiny app from the server, `shiny`, did not have access to the files in  `/squashfs-root/app/orca`. At first I didn´t notice this because the message in the log file does not give any clue about permissions.

Anyway, I fixed the issue by running `chown shiny:shiny -R /squashfs-root/` . I hope this helps.

[2019-05-21 12:37] #211 closed

[2019-05-23 19:14] ravi-aggarwal opened #232 "renderer error - Uncaught ReferenceError: Plotly is not defined"
I am running orca with headless server xvfb on centos and when I execute:
orca graph '{ "data": [{"y": [1,2,1]}] }' -o fig.png --verbose

Get the following error, any ideas on how to fix this? (orca version is 1.2.1)

gpu process crashed - false
          Chrome version 59.0.3071.115
          Electron version 1.8.4
gpu process crashed - false
          Chrome version 59.0.3071.115
          Elect

[2019-05-24 14:20] ravi-aggarwal commented on #232
So, upon further investigation, error is coming from src/component/plotly-graph/render.js where it cannot find Plotly.

I am not too familiar with javascript but can someone shed more light on how render.js is importing Plotly?

[2019-05-26 18:51] ravi-aggarwal commented on #232
I solved the issue by using a local copy of plotly.min.js instead of default - https://cdn.plot.ly/plotly-latest.min.js

I think it's probably due to firewall restrictions on my work server, not sure if there is a way to make the error more explicit

[2019-05-26 18:51] #232 closed

[2019-05-28 02:58] antoinerg commented on #219
Similarly, we should output a friendlier error message when plotly.js cannot be found by the renderer as discussed in https://github.com/plotly/orca/issues/232

[2019-05-28 04:25] antoinerg commented on #232
Thank you @ravi-aggarwal  for letting us know. I agree that the error message `renderer error - Uncaught ReferenceError: Plotly is not defined` is not so clear.

[2019-05-28 16:59] mishka opened #233 "ARM support"
Hi everyone!

Could you please compile it for ARM as well so we could run it devices such as raspberry pi?

[2019-05-31 06:46] crzchris opened #234 "Orca failing on cronned execution"
I have a notebook that uses orca to save images. I run it in a bash script that activates all the necessary environments.
When running from the command line, it works fine, but if I run the same script from cron it fails at

 for

**Using npm env**

**Using conda**

source activate env_run

I set the path to the orca executable in the notebook. It finds the right executable. But for some reason it

[2019-05-31 21:35] fomightez commented on #150
It is possible to also implement's @mathieuboudreau's solution to using plotly.io / Plotly's orca in MyBinder.org-served binder sessions without the need for a Dockerfile. In the example [here](https://github.com/fomightez/orca-plotly-binderized) I use `requirements.txt`for specifying most of the repo-specific dependencies and use `postBuild` to handle setting up orca. Additionally, `apt.txt` was

[2019-06-13 16:59] kevmk04 commented on #140
I can also confirm that the solution by [claudia](https://community.plot.ly/u/claudia) also worked for me.  I'm using this on a TLJH installation with multiple users successfully.

[2019-06-15 12:23] jonmmease commented on #234
Hi @crzchris,

Are you saying the `Using npm env` / `Using conda` lines are part of the error message?  This doesn't look familiar.  Could you copy and paste the entire stack trace and error message.  Thanks

[2019-06-20 06:51] Nikolai-Hlubek commented on #185
+1 for updating the readme.

The way IT departments in coorporations usually work is, they give you a virtual server that has access to an offline copy of your linux distribution but no further internet access.

So for me in this scenario using CentOS

worked. While downloading google-chrome-stable would have been some extra task.

[2019-06-20 06:58] Nikolai-Hlubek opened #236 "Conversion fails with Scattergl"
If I want to create an offline plot that contains the plotly Scattergl command I get an error message.

Consider the example below (which is run through a jupyter notebook):

[code]

This will give the following error:

[code]

Changing Scattergl to Scatter will make the example work.

[2019-06-20 14:05] etpinard commented on #236
Thanks very much for reporting!

A few questions:

- could you tell how you installed `orca`?
- which version of orca are you running?
- have you tried running your script in a plain python context (i.e. outside of a notebook)?

---------

@jonmmease any ideas on why this could happen?

[2019-06-21 07:48] Nikolai-Hlubek commented on #236
- Below is the way I installed orca.
- I am running orca version 1.2.1.

The machine I'm running on is basically configured like this:
https://github.com/Nikolai-Hlubek/vagrant-centos7-jupyter

[code]

I tried testing Scatter/Scattergl on the jupyter linux guest but I'm currently running into
https://github.com/plotly/orca/issues/182
although I'm using plotly 3.10.0.

[2019-06-21 11:20] jonmmease commented on #236
Hi @Nikolai-Hlubek ,

As of plotly.py 3.10, you can let plotly.py handle calling xvfb for you. See https://github.com/plotly/plotly.py/pull/1523.  This is worth a try because then xvfb will be called with arguments/flags that should work with all of the plotly trace types.

With this approach you make sure xvfb is installed and on the path, but you point plotly.py to the plain orca executable (not

[2019-06-21 12:25] Nikolai-Hlubek commented on #236
Dear @jonmmease

Thanks for your help. I tried your suggestion and have orca and Xvfb in the path.

[code]
However I still get the same error messages as above when I run the scripts via jupyter or directly on the linux host.

Additionally after trying to run the commands a few times, opening and closing the notebook I'm left with the following processes:
[code]

[2019-06-21 22:09] #187 closed

[2019-07-12 20:15] petebachant commented on #182
I am getting this issue on Linux with Anaconda, using builds:

[code]

I am running in a Qt console, and also in a Notebook, with different kernels. Can orca not be shared between processes, or something similar?

[2019-07-14 16:47] Juanlu001 opened #238 "npm + pip fails on Linux"
I tried following the official [npm + pip installation instructions](https://plot.ly/python/next/static-image-export/#npm--pip) on Linux and apparently all went fine:

[code]

I avoided `-g` though, because... Well, I don't know NPM well enough to confidently install anything globally. As a result of my ignorance I don't know where the binary is supposed to be, but I looked in `./node_modules/orca

[2019-07-16 11:19] jonmmease commented on #238
Hi @Juanlu001,

When installing orca through npm, the entry point script should be `node_modules/orca/bin/orca.js`.  I think it is probably a mistake that this `orca.sh` script is included in the installation.

[2019-07-16 13:30] etpinard commented on #238
good call, we should `.npmignore` it!

[2019-07-16 15:06] Juanlu001 commented on #238
Thanks and sorry for the dumb issue, I'm not used to have `.js` files as executable :innocent:

[2019-07-19 06:57] JinTeng opened #239 "Get error message when trying to run orca from R"
Error in rethrow_call(c_processx_exec, command, c(command, args), stdin,  :
  Command not found @win/processx.c:977

[2019-07-19 07:19] JinTeng commented on #239
- Session info ----------------------------------------------------------------------------------------------------------------------------------------------------
 setting  value
 version  R version 3.6.1 (2019-07-05)
 os       Windows 7 x64 SP 1
 system   x86_64, mingw32
 ui       RStudio
 language (EN)
 collate  English_Australia.1252
 ctype    English_Australia.1252
 tz       Australia/Sydney

[2019-07-19 07:23] JinTeng commented on #239
Example:
p <- plot_ly(z = ~volcano) %>% add_surface()
orca(p, "surface-plot.png")

[2019-07-22 21:11] tombailey commented on #188
I have been facing this timeout issue too. You can see here in create-server.js that Orca will produce a 522 error when a socket timeout occurs: https://github.com/plotly/orca/blob/master/src/app/server/create-server.js#L69

In my case, I think this is happening because I have a lot of data. I have been trying to increase the socket timeout using the requestTimeout option but with no success so fa

[2019-07-22 21:30] antoinerg commented on #188
@tombailey I'm sorry to hear you are facing an issue with exporting `scattermapbox`. Can you give me a rough estimate of how large your dataset is?

It should be there as `--request-timeout`: https://github.com/plotly/orca/blob/a2ce478735857ca6bcc03ebc798de017e87628bb/bin/serve.js#L48-L54

What version of Orca are you running?

[2019-07-22 21:44] tombailey commented on #188
@antoinerg

In my case, I am not using scattermapbox, instead a sankey diagram but I think the situation is similar. As a temporary hack, I have upped the timeout by manually my global node_modules.

The 522 error has now been replace by an Electron error as the process seems to be hitting OOM issues:

`#
# Fatal error in , line 0
# API fatal error handler returned after process out of memory
#
0

[2019-07-23 00:16] antoinerg commented on #188
@tombailey can you render your figure in a browser using plotly.js? If not, I suspect you're hitting this plotly.js issue: https://github.com/plotly/plotly.js/issues/3813

A fix for this will be released this week as part of plotly.js `v1.49.0`.

[2019-07-23 10:44] tombailey commented on #188
@antoinerg I think you are right, in my case it appears it was a circular sankey issue although I couldn't get plotly.js v1.49.0 to render the sankey diagram.

Back to the original issue, a 522 client timeout error would suggest large data or a bug causing Orca to spend too much time rendering the image so the timeout happens. Whether that is because of an infinite loop in my case or large data wh

[2019-07-23 14:54] antoinerg commented on #188
@tombailey v1.49.0 hasn't been released yet although you can try a bundle built off master temporarily hosted here: https://45455-45646037-gh.circle-artifacts.com/0/dist/plotly.min.js

You can provide that URL to Orca directly via `--plotly` flag.

It this still doesn't render, could you please open a new issue or append the problematic dataset to the issue: https://github.com/plotly/plotly.js/iss

[2019-07-26 16:56] slfan2013 commented on #187
Hello @antoinerg , I found using HTTP API to call `orca` really useful for me. I wonder can you please illustrate how to use HTTP API to export svg plots?

Suppose I have a port with url running the orca `http://metda_plotly:9091`. What would be the corresponding command (or code) for `$ orca graph '{ "data": [{"y": [1,2,1]}] }' -o fig.png`? Is it `$ docker run -i quay.io/plotly/orca graph '{ "dat

[2019-07-26 17:50] antoinerg commented on #187
@slfan2013 glad to know it is useful for you!

Instead of POSTing a JSON of your figure directy to your endpoint, wrap it in another object with:
[code]
as described there: https://github.com/plotly/orca/blob/f40962271ce901492513115854cceb45977448eb/src/component/plotly-graph/parse.js#L12-L35

[2019-07-26 18:01] antoinerg commented on #187
@slfan2013 I should probably also mention that with the latest docker Image on quay.io now supports HTTP content-negotiation. You can specify the format you want in an HTTP Accept header as show below:
[code]
The supported accept types are given by the values in the object below:
https://github.com/plotly/orca/blob/f40962271ce901492513115854cceb45977448eb/src/component/plotly-graph/constants.js#L2

[2019-07-26 18:23] slfan2013 commented on #187
Thank you @antoinerg . It helped a lot!

Now I am able to generate the plot. How can I export it (possibly using a correct endpoint)?

What I have done using `R` is as follows,

[code]

It successfully generated the plot giving an output of
[code]

I wonder how am I suppose to download this? Something like `http://localhost:9091/xxx.svg`?

[2019-07-26 18:26] slfan2013 commented on #187
Oh, got it!

[code]

Perfect. This plotly + orca whole thing is perfect. Thank you @antoinerg

[2019-07-30 05:06] rrazaghi opened #240 "Error with exporting large data image"
So fig.write_image works just fine on doing distplot on a dataframe of a few 100k rows. However, when I pass the 1 million rows threshold it outputs the "plotly cannot communicate with orca sometimes" error.
Is there any workaround for this?

Thanks in advance!

-Roham

[2019-08-04 07:20] gree0299 opened #241 "write_image() fail with orca 1.2.1"
Hey all, having a lot of issues with Orca this past weekend trying to write_image() with a Scattermapbox. Was working flawlessly for a couple weeks and suddenly stopped working over this weekend. Lot of weird nuances with it so I will try and provide as much info as possible.

So a standard run of the program will just hang and produce:

Traceback (most recent call last):
  File "test.py", line 30

[2019-08-06 00:06] gree0299 commented on #241
Update for anyone else that encounters this issue, I figured out a hacky workaround to get the process working again.

Before you attempt to write_image() with a Scattermapbox, create a subprocess to manually launch the Plotly-orca server with the --keepalive option. For example,

subprocess.Popen([“orca”, “serve”, “-p”, “8123”, “–plotly plotly.min.js”, “–graph-only”, “–mathjax”, “https://cdnjs.cl

[2019-08-07 17:23] davidparks21 commented on #150
Thank you for everyone who blazed the trail here. This was painful. I'm posing my full docker RUN command that performs all necessary steps to make this work, hopefully this will be useful to others.

Notes: This is based on a root user docker container, if you are non-root you may need to alter paths and such. My container needed quite a few basic libraries.

[code]

[2019-08-08 20:44] ksarathbabu commented on #194
I tried to install using npm following the instructions and got the same error as @wouterdb .

npm WARN deprecated left-pad@1.3.0: use String.prototype.padStart()
/usr/local/bin/electron -> /usr/local/lib/node_modules/electron/cli.js
/usr/local/bin/orca -> /usr/local/lib/node_modules/orca/bin/orca.js

/usr/local/lib/node_modules/electron/install.js:47
  throw err
  ^

Error: EACCES: permission den

[2019-08-13 13:59] bjodah commented on #223
I was struggling with this today, I got it working by passing additional server args to xvfb-run, here's my `orca` script (on my `$PATH`):
[code]
For reference, this answer led me to trying this: https://unix.stackexchange.com/a/283129/119480

[2019-08-13 14:42] dleonard-uptycs commented on #182
For me, this boiled down to a permissions issue (orca 1.2.1 on ubuntu with plotly = 4.1.0). There were some folders in /tmp, name xvfb-run.<ID>, pulse-<ID>, v8-compile-cache-<ID>, that were from some older runs done under a different user. Removing these folders from /tmp directory allowed my new user to use orca once again.

[2019-08-16 17:34] chnsh commented on #150
Thank you @davidparks21 , this worked!

[2019-08-17 12:02] ZilinXiang commented on #223
I encountered the same problem. But the reason is weird, it maybe helps you. I changed the size of the font, some values could lead to the problem. For example, the error occurred when fontsize=20.

[2019-08-19 15:48] antoinerg commented on #223
@ZilinXiang I would like to better understand the issue you faced. Could you provide me with the JSON of the figure exhibiting this problem?

[2019-08-27 07:26] ZilinXiang commented on #223
`layout = {`
        `"margin": {"l": 0,`
                   `"r": 0,`
                   `"t": 30,`
                  ` "b": 0,`
                   `"pad": 0},`
       ` },`
       ` "xaxis": {`
            `"autorange": True,`
          `"gridcolor": "#FFFFFF",`
           ` "gridwidth": 2,`
           ` "showspikes": False,`
            `"showticklabels": True,`
            `"tickfont": {"color

[2019-09-06 07:17] FromTravis opened #242 "orca executable not found"
Good morning all,

I keep bumping the error below when trying to make Orca work.
Although when using the line:
!orca graph “{ “data”: [{“y”: [1,2,60]}] }” -o fig.png
on a command window it works.

and second question: to save an image cam you just create the figure and then
fig.write_image("images/fig1.png") like in the plotly website ?
I m asking because i see posts of people writing about launch

[2019-09-06 18:05] vickyliao92 commented on #239
I received the same error message while trying to install a package. Would love to see if anyone has come up with a solution.

[2019-09-07 11:22] meysampg commented on #194
Running `npm install -g electron@1.8.4 --unsafe-perm=true --allow-root` can solve the problem.

[2019-09-09 10:14] anuragpal opened #244 "plotly.py was unable to communicate local orca server process"
Hi Everyone,

    I am using plotly. When I am using plotly
    fig.write_image(img, width=1920, height=1440)

     I am getting error like:

     For some reason plotly.py was unable to communicate with the
local orca server process, even though the server process seems to be running.

Please review the process and connection information below:

orca status
-----------
    state: running
    exec

[2019-09-09 17:51] FromTravis commented on #242
I 've navigated around the issue by not using write image method and instead
call(['orca', 'graph', json.dumps(fig, cls=plotly.utils.PlotlyJSONEncoder), '-o', 'fig1b','-d','images','-f','svg'])

A pity but it does the job!

[2019-09-09 17:51] #242 closed

[2019-09-11 08:52] gree0299 commented on #244
Hey mate I had a similar issue not too long ago. What figure are you trying to write?

Also have you tried anything from issue #241? I posted my solutions for the issue in that thread so it is worth trying that if you havent

[2019-09-11 10:25] ealashwali opened #246 ""Segmentation fault (core dumped)" when executing "orca --help""
I am using Ubuntu 18.04. I need to install orca in Ubuntu.

After I downloaded: orca-1.2.1-x86_64.AppImage, into the `Downloads` directory, I performed the following commands:
[code]

But when I execute:
`which orca`
I do not find anything printed in the terminal. But there is a file named `orca `created at the `/home/me/.local/lib/python3.6/site-packages/`

Then when I execute: orca --help, I get

[2019-09-11 11:01] ealashwali commented on #246
Now it is partially working. It turns that first I have to find the right PATH value by executing:
`echo $PATH ` It may be helpful if you can add this in the instructions.

But now, when I execute:
`orca --help`

I get:
[code]

[2019-09-11 13:17] #246 closed

[2019-09-11 16:05] anuragpal commented on #244
Thanks for your reply,

   When I debug the script the problem is large set of data due to which ocra stopped responding, when I pass less data its working smoothly. So might be I have to check how to to manage it for large data set. If you have suggestion for that it will really help me.

[2019-09-11 17:50] antoinerg commented on #246
@ealashwali Can you try installing all the dependencies? Installing `chromium` will most probably get you everything you need.

[2019-09-11 23:54] gree0299 commented on #244
No worries mate, it is worth checking the issue I linked in the first comment as there is some stuff you can try which might help.

If you just want to test to see if it works - open a command line and manually launch an Orca server but make sure you specify the --keepalive option which will ensure the server relaunches if it crashes. If this doesn't fix it, try the same command but instead of --k

[2019-09-14 04:56] bixiou commented on #120
Hey @cpsievert , for me it works when I start RStudio from the command-line, but editing R's PATH doesn't work. (I checked that 'which orca' returns plotly-graph as an available command). Do you have a fix?

[2019-09-14 05:10] bixiou commented on #120
I solved the problem adapting the solution of @jonmmease : I found the orca file in `/anaconda3/bin/`, renamed it, and installed orca manually as a standalone library. Now it works fine.

[2019-09-15 18:12] gmrukwa commented on #236
I have the same problem. I export my `plotly.express` scatter plots to JSON, where I replace `scattergl` with `scatter` as a workaround and generate my `.png` files. I will experiment with this a bit longer for more elegant solution, but I already wasted several hours on basic plot dumps due to this issue.

[2019-09-18 18:06] antoinerg commented on #238
Because is resolved, I'm closing this one.

[2019-09-18 18:06] #238 closed

[2019-09-19 00:45] ReyhanehBijari commented on #239
I have a same error @JinTeng
Could you solve it?

[2019-09-20 16:21] antoinerg opened #248 "EPS: should preserve graphics in vector format and not rasterize"
At the moment, opening EPS files produced by Orca in either Illustrator or Inkscape show raster graphics rather than a vector graphics. Zooming in shows that it is pixelated:
![image (5)](https://user-images.githubusercontent.com/301546/65342529-f00aca00-dba0-11e9-8c47-559ebb122911.png)

[2019-09-20 20:52] antoinerg commented on #248
The issue is partially fixed in my branch `pr-bump-electron-6` which upgrades electron from v1 to v6 and ships a much newer version of Chromium.

This can be seen for example in the updated [baseline/29.eps](https://github.com/plotly/orca/blob/pr-bump-electron-6/test/image/baselines/29.eps) from that branch which isn't pixelated when zooming in.

However, because EPS does not support semi-transpar

[2019-09-22 09:44] gyodukoo opened #249 "can i use orca in centos 6.8?"
hello
first of all, really thank you for making this.

I would like to know that I can use orca in centos 6.8.

I tried to use AppImage, but it says that some libraries need to be installed such as glibc and so on.
However, in my company we cannot install that kinds of library on our linux server.

Is there any way to use orca in centos 6.8 without those libraries?

Thanks in advance.

[2019-09-22 21:37] antoinerg commented on #249
@gyodukoo I'm afraid you'll need the dependencies requires to run a Chromium browser (which is what Orca runs under the hood). If your server runs Docker, it would be very much simpler to use that instead.

[2019-09-23 06:47] RoelVerbelen commented on #239
Have you added the *Start in* directory to your system `PATH`? I believe should solve your issue.

See the detailed instructions [here](https://github.com/plotly/orca/#installation) under Windows. It includes a [link](https://www.computerhope.com/issues/ch000549.htm) to tutorial website for how to seth the path and environment variables in Windows.

[2019-09-26 14:34] ptarroso commented on #239
I'm having a similar issue on Linux. Maybe you can help me.
I'm using orca from AppImage and it is on the binaries path. With the example above I get:

[code]
If i do a direct system call:
[code]

But directly on the bash terminal is working great. Do you know where the problem might be?

[2019-09-27 17:17] VyMajoris opened #252 "Plotly can't find the xvfb-run executable when running from a Gunicorn Flask application."
Hi. I have installed Plotly and Orca with `conda install -c plotly plotly-orca` and xvfb with `sudo apt-get install xvfb`.

When running a _Python script from the terminal_ that prints or saves a simple figure to file, _it works_, but when trying the same code from a Flask application running with Gunicorn and Nginx, it fails on `.to_image`

Inside `/home/ubuntu/anaconda3/bin` I have an orca.sh sc

[2019-09-27 18:08] VyMajoris commented on #252
I just found the solution. The issue was that my Gunicorn service configuration file was not receiving the correct path content.

In the section [Service], the `Environment` setting was set with only `"PATH=/home/ubuntu/anaconda3/bin"`

I updated the `Environment` with my whole $PATH content and now it works:
`"PATH=/home/ubuntu/bin:/home/ubuntu/.local/bin:/home/ubuntu/anaconda3/bin:/home/ubuntu/a

[2019-09-27 18:08] #252 closed

[2019-09-30 08:49] Koushikphy commented on #248
I'm facing this issue, eps gets pixelated. Also when you convert the generated `eps` to make `pdf` using `epspdf`, the pixelated/aliasing remains in the generated `pdf`s too

[2019-10-02 06:27] ma1ro opened #255 "orca leaves running processes after shutdown"
Ubuntu 18.04

[code]

[code]
(paths truncated)

It also leaves processes when invoking from command line:
[code]

[2019-10-02 20:23] schlich opened #256 "Windows Subsystem for Linux error-- cannot communicate with local orca server process even though server process seems to be running"
Hello all,

I am trying to write an image to .svg format using a jupyterlab setup on Windows Subsystem for Linux (WSL).  After installing gtk library, installing Xming, configuring env variable DISPLAY=:0, and disabling chrome sandbox, I am still running into issues.  Right now, I'm getting the following error output in my python terminal:

[code]

Any pieces of advice?  Other than examining the s

[2019-10-02 22:58] schlich commented on #256
closing for now while i troubleshoot... somehow missed a whole subsection of linux troubleshooting in the readme heh

[2019-10-02 22:58] #256 closed

[2019-10-03 19:11] antoinerg commented on #256
Trying to get Orca to work on Windows Subsystem for Linux is rather brave @schlich :sweat_smile:! Please let us know if you succeed.

I also want to point out that Orca can be installed on Windows and isn't a Linux only product.

[2019-10-03 19:26] schlich commented on #256
I did end up getting it working!  it took a lot of cobbling together and trying different things and reinstalling npm about 5 different times but I got there!  Went with Xming and had to disable xvbf.

My mac died a few days ago and I had to flip a coin as to where to port all my work ended up going with WSL.   Definitely getting a few lessons in technical expertise!

[2019-10-03 20:00] #255 closed

[2019-10-03 20:00] ma1ro commented on #255
I don't know what it was but I cannot reproduce it anymore.

[2019-10-07 12:41] TiemenSch opened #258 "Accessing Orca deployment from JupyterLab on K8s"
I have a question regarding the accessing of the Orca server using ``plotly.io`` when it's ran as a separate deployment on a Kubernetes setup. How would you typically configure the communication from any typical "singleuser" notebook to the externally running Orca server?

Context:
I'm currently working on a Kubernetes deployment of JupyterLab using the [Zero-to-JupyterHub](https://zero-to-jupyter

[2019-10-07 14:52] antoinerg commented on #258
You're right that getting Orca running on a headless system can be tricky and it is much simpler/cleaner to have it run in its own container.

I'm not familiar with our tools in JupyterLab at the moment so I don't know how to call an externally running Orca server but I imagine it should be simple to do.

@jonmmease @nicolaskruchten can you please answer this one?

[2019-10-08 11:48] jonmmease commented on #258
Unfortunately, this isn't supported in plotly.py yet. See https://github.com/plotly/plotly.py/issues/1570 for more info.

[2019-10-10 07:52] snmhas commented on #194
I tried to install orca and electron packages using npm but i get the error below when I try to export as a png file in JupyterLab.

**Code:**
%py
import plotly.graph_objects as go
import numpy as np
np.random.seed(1)

N = 100
x = np.random.rand(N)
y = np.random.rand(N)
colors = np.random.rand(N)
sz = np.random.rand(N) * 30

fig = go.Figure()
fig.add_trace(go.Scatter(
    x=x,
    y=y,
    mode="m

[2019-10-14 14:50] jensb opened #260 "Orca (1.2.1, release) seems to ignore tickmode = array, and tickvals"
If I use the attached plotly JSON and feed it to Orca, I would expect "tickmode" and "tickvals" to get applied and have x axis labels at 82M, 100M, 200M, etc.
But I get the default format ("100M" plus small single digits at the subtick positions) instead.
Feeding the same to the same Plotly JS code in a normal browser produces the expected output.

[plotly-orca-failed-example-tickvals.zip](https:/

[2019-10-15 09:54] jensb commented on #260
This also applies to online plotly.js.

[2019-10-15 15:23] antoinerg commented on #260
@jensb Can you post an image of the "normal" expected output you got in a browser. Over here I get the same result in Orca and Chromium v69.

Codepen: https://codepen.io/antoinerg/pen/abbNMxj

[2019-10-16 08:28] jensb commented on #260
[plotly-data-anon.zip](https://github.com/plotly/orca/files/3733223/plotly-data-anon.zip)
Sorry uploading image directly doesn't seem to work.
This is what I get when I patch Plotly so that tickvals and tickmode are respected correctly. both in Browser and in Orca.

[2019-10-17 04:06] avinashshenoy97 commented on #131
I need help too :(

[code]

[2019-11-04 08:40] Yulin-bio commented on #239
Error in rethrow_call(c_processx_exec, command, c(command, args), stdin,  :
  create process (system error 740, The requested operation requires elevation.
) @win/processx.c:1025

Hi,
I have this error when I am trying to export a png figure. I already added orca to my path. Changed my account setting. Any ideas? Thanks a lot

[2019-11-04 18:31] Yulin-bio opened #265 "How to change 3D figure perspective in orca plotly"
Hi,

I'm using local export to export 3d plot from plotly by orca. Is it possible to change the 3d plot perspective before I export the figure? I can only export figure in default angle.

Many thanks!

[2019-11-11 18:48] antoinerg commented on #265
@archmoj I think you can answer this one. How do we change the camera position in plotly.js?

[2019-11-11 19:27] archmoj commented on #265
@Yulin-bio Could you try the line below?
[code]

[2019-11-11 21:02] antoinerg commented on #265
Thank you @archmoj for providing an example showing how to change the camera position in plotly.js

@Yulin-bio since this is not an Orca issue, I will close it for now. Feel free to open an issue over at https://github.com/plotly/plotly.js if you find issues with the camera positioning.

[2019-11-11 21:02] #265 closed

[2019-11-13 18:00] antoinerg commented on #258
@TiemenSch it will be possible to call an externally running Orca in the next release of plotly.py. See PR https://github.com/plotly/plotly.py/pull/1850 for details!

[2019-11-13 18:00] #258 closed

[2019-11-13 19:35] antoinerg commented on #216
I don't have a lot of experience with the Google Colaboratory notebook and getting Orca installed on it may be difficult considering we have limited control over the environment over there.

However, you may be pleased to know that it is now possible to call externally running Orca from plotly.py (see https://github.com/plotly/plotly.py/pull/1850 for details). This way, you can have an Orca instan

[2019-11-13 22:07] antoinerg commented on #13
With the introduction of `test-image` in PR https://github.com/plotly/orca/pull/222, we now do image diff for all the image formats that Orca supports. I think we can now close this one.

[2019-11-13 22:07] #13 closed

[2019-11-13 22:50] antoinerg commented on #172
Now that we have docker layer caching in CircleCI, this error hasn't come up in a while. I will close it for now.

[2019-11-13 22:50] #172 closed

[2019-11-13 22:56] antoinerg commented on #249
Although running Orca in centos is entirely possible, one will need all the dependencies necessary to run a Chromium browser.

[2019-11-13 22:56] #249 closed

[2019-11-14 16:13] ociule commented on #241
I'm also seeing this fail with orca 1.2.1 (and also 1.1.1), on Windows Server 2008, with a non-admin account. With an admin account, it works fine.

Doing the test gree0299 recommends works fine: even with a non-admin account, plotly can communicate with the orca launched manually, from a non-admin account. I'm not very familiar with Windows security so I'm stumped. There is no windows firewall.

[2019-11-14 16:40] simone-pignotti commented on #150
Thank you all, just wanted to point out that I also needed to install `xauth` because of the following error:
[code]

[2019-11-14 17:26] suresh26k commented on #194
I am also getting the simailar error :
[code]

I already have orca installed :
[code]

It actually created directory ```orca-server``` in python library directory.

[2019-11-18 15:51] #185 closed

[2019-11-25 06:11] hkokko opened #269 "Mac OS X: Getting rid of "Do you want the application" orca.app to accept incoming network connections"
Is there a command line parameter or something else to get rid of the above dialog box. It comes up every time I run my python plotly application. My app works with "deny" and I would not like to give the "Allow"

[2019-11-27 07:47] meysampg commented on #194
@snmhas @suresh26k
In such cases, checking permission of `/tmp/orca-build` folder could be helpful.

[2019-11-28 07:59] emrichter commented on #239
Have the same issue on linux. For me, when executing "orca -h" in the shell, I get in the end
`/usr/bin/xvfb-run: line 186: kill: (118204) - No such process`.
It helps to kill all orca and xvfb processes and run /bin/xvfb-run. The reason for the issue might be too many opened xvfb processes.
Would love this to be resolved ;)

[2019-11-28 16:24] 0navarro commented on #224
Hi,  I have a similar problem with the squared symbol ² and the degrees symbol °.

I have tried using `orca_serve()` (in Windows 7) as well but it does not work. Does anyone have any solution/workaround?

[2019-12-04 09:29] micheljung commented on #239
There can be various reasons why the orca command fails. In our case (on Linux) it was caused by xvfb not being able to start. We figured this out by adding `-e /tmp/xvfb.log` to the `xvfb-run` call. In the log file, we found the following error:

[code]

What helped was to run replace `xvfb-run -a` with `xvfb-run -d` since `-a` is deprecated:

[code]

I'll create a PR to update the doc.

[2019-12-04 09:30] micheljung opened #270 "Don't recommend deprecated `xvfb-run -a`"
`-a` is deprecated:

[code]

and can cause problems. See https://github.com/plotly/orca/issues/239#issuecomment-561553654_

[2019-12-04 20:00] antoinerg commented on #270
Thank you @micheljung for reporting this. It does seem like `-a` is deprecated in recent version of `xvfb-run` but it hasn't made its way into Ubuntu. Even in version `20.04` I get:
[code]
I'm curious to know whether you installed `xvfb-run` via your distro's package manger? If so, what distro/version are you using?

[2019-12-05 20:06] micheljung commented on #270
After `xvfb-run --version` didn't exist I gave up looking for its version :) We're on RHEL7. I'll try to gather some more info tomorrow.

[2019-12-05 20:19] antoinerg commented on #270
Good to know :) I am also using a more recent version like you are.

I understand! It's a weird omission on their part. It looks like `xvfb-run` is a [one file project](
https://git.archlinux.org/svntogit/packages.git/plain/trunk/xvfb-run?h=packages/xorg-server&id=9cb733cefa92af3fca608fb051d5251160c9bbff). Here's how it's [packaged in NixOS](https://github.com/NixOS/nixpkgs/blob/master/pkgs/tools/

[2019-12-11 00:26] Konstantin-Lasiy opened #272 "Double forwardslash in the plotlyjs path causes a ReferenceError"
When trying to write_image through plotly in Python the following command gets executed to start the orca server:
`['//anaconda3/bin/orca', 'serve', '-p', '9091', '--plotly', '//anaconda3/lib/python3.7/site-packages/plotly/package_data/plotly.min.js', '--graph-only', '--mathjax', 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js']`

This causes a timeout error, and if I start the se

[2019-12-12 12:44] Placeprom commented on #194
I had a similar problem as @wouterdb. It´s not (directly) related to the issue but I added my solution below for people which might struggle as well.

I wanted to use gitlab CI to update images daily and push them to a cloud. Installing conda and using orca on the runner seemed like a lot of unnecessary overhead.

If you have a plotly (now chart_studio) account you can simply use the image functio

[2019-12-23 04:47] raulf2012 commented on #256
@schlich can you care to elaborate anymore on the steps you took to get orca to work on WSL?

This has been something that I've been struggling with for some time now and it would be really valuable to get this to work for me

Thus far I've just setup a separate computer with Ubuntu to export my plots to pdf/svg, far from ideal

[2019-12-23 21:45] schlich commented on #256
Happy to help, could you outline the steps you've taken and any errors you're getting?

[2019-12-23 22:09] raulf2012 commented on #256
Thanks @schlich

My attempts have pretty much been limited to installation with conda
Attempting to write a `.pdf` file in a python script results in a generic error associated with orca not being installed (attached below)
[plotly_python_orca_err.txt](https://github.com/plotly/orca/files/3996438/plotly_python_orca_err.txt)

Furthermore, there doesn't seem to be an orca executable installed via th

[2019-12-23 22:37] raulf2012 commented on #256
Wow I can't believe it, I got it to work

My steps:
1. Install conda/anaconda (instructions available elsewhere)
2. Install nodejs (npm) through conda
  - `conda install -c conda-forge nodejs`
3. Install orca through npm via instructions on orca's README
  - `npm install -g electron@1.8.4 orca`
4. Finally, I needed to install a library because of the missing shared `libgconf-2.so.4` library
  - `s

[2019-12-28 20:04] jackparmer commented on #230
It would be great if this landing page could include an upload and/or copy/paste for Plotly chart JSON, similar to: https://export.highcharts.com/

This would be useful for testing, users submitting `orca` bug reports, and sales demos when customers or prospects want to understand what orca is.

[2020-01-08 16:00] STB0001 commented on #241
I encountered this issue when generating a series of eight scatter plots.   The first scatterplot had 200,000 data points in it.  The second one had the original data points, but then added another 200,000 color coded for another parameter.  The error message was:

Traceback (most recent call last):

  File "C:\Users\___\Documents\___ ___\Work\Programming\Python Scripts\___Crossplots.py", line 115

[2020-01-08 19:55] #89 closed

[2020-01-08 19:55] #124 closed

[2020-01-08 19:55] #248 closed

[2020-01-09 17:30] antoinerg opened #276 "EPS: graphics are rasterized if they contain semi-transparency"
Because EPS does not support semi-transparency, it seems like `poppler` will rasterize graphics if they have semi-transparent elements (ie. elements with opacity ]0,1[). The way to fix this is to remove semi-transparency from the figures prior to conversion (as we do for EMF). It might make sense to perform this cleanup in plotly.js itself where we have the full power of d3 selection.

This is a f

[2020-01-13 02:34] fthalabi opened #277 "Return code 1: the input device is not a TTY"
Hi, I'm having troubles using the docker image of Orca with Jupyterlab.

Relevant outputs:

`pio.write_image(fig, save_folder+'categorias_paralelas.pdf',format='pdf')`

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-4-d5e69f7f9ba7> in <module>
----> 1 pio.write_image(fig, save_fo

[2020-01-13 17:21] antoinerg opened #278 "deployment/orca: use cross-platform compatible Docker calls"
If I'm not mistaken, in `docker run` call, the flag `--net=host` is Linux-only. We should use `-p 9091:9091` instead.

[2020-01-13 17:26] antoinerg commented on #277
Hello @fthalabi !

The problem you are running into stems from Docker not being able to start Orca using the provided script in your environment. A workaround would be to remove `-it` in the `docker run` command. See https://stackoverflow.com/questions/43099116/error-the-input-device-is-not-a-tty for details.

I also realize that the script you are using to start Orca contains a `--net=host` flag

[2020-01-13 20:59] fthalabi commented on #277
Thanks @antoinerg , I can confirm that the problem is solved with the given workaround.

[2020-01-13 20:59] #277 closed

[2020-01-13 22:47] fthalabi opened #279 "Docker: Connection refused"
Hi, I'am unable to write images using the docker image of orca.

To reproduce the problem:

[code]
The error:
[code]

I tried the solution offered in https://github.com/plotly/orca/issues/164 (adding time.sleep) to no avail. So this must be another problem.

Relevant info:

`docker container inspect 362580f5fc96`
[code]

` docker container logs 362580f5fc96  `
[code]

I am using linux and did some

[2020-01-13 22:59] antoinerg commented on #279
I am sorry you are running into all sorts of issues @fthalabi and thank you for trying to get this work!

It seems that plotly.py is trying to start Orca on a different port which may not be accessible to the outside world (ie. your host machine). Using `--net=host` may fix the problem.

However, one cleaner solution IMHO and the one I typically use is to launch Orca myself and point plotly.py to

[2020-01-14 18:11] fthalabi commented on #279
I'm sorry to bother, I really did try to get it running before asking.

pio.orca.config.server_url = "http://localhost:9091"

Do you use only those options @antoinerg ?  I don't get a server with that.
[code]
Thanks for the help.

[2020-01-14 19:39] antoinerg commented on #279
@fthalabi Yes the above should work if you have an Orca instance running and accessible at the address you provided. Just create a figure and write an image to check:
[code]

[2020-01-16 19:43] jackparmer commented on #230
A lot of users seem to still have trouble with Orca installation. This is sadly the most viewed thread in our community forum:

https://community.plot.ly/t/use-plotly-offline-to-save-chart-as-image-file/408/44

If we had a dead simple Orca landing page with figure JSON upload and desired image format download, this could be an alternative for users who encounter an Orca installation issue. We coul

[2020-01-20 09:32] sylvaine31 commented on #224
Hi, I have the same problem, did you solved it?
I have no encoding problem with the deprecated plotly::export function, but I would prefer using orca...

[2020-01-20 10:25] sylvaine31 commented on #224
OK thanks. I'm just suprised that there is just this thread about it...

[2020-01-20 13:21] sylvaine31 commented on #224
Finally, I used the solution proposed by #0navarro with orca_serve and it resolved my problem.

[2020-01-20 13:34] mgfasel-unige commented on #224
OK, I will try it as well!

[2020-01-21 20:17] antoinerg commented on #269
Maybe @jonmmease could help out. I don't have a Mac at the moment and I am not familiar with Mac OS X permission system.

[2020-01-21 20:21] antoinerg commented on #244
It seems the problem described here is related to exporting images with lots of points. Therefore, I will close it in favor of #240.